<form
  method="POST"
  action="/content/core-components-examples/library/form/input.html"
  id="new_form"
  name="new_form"
  enctype="multipart/form-data"
  class="cmp-form aem-Grid aem-Grid--12 aem-Grid--default--12"
>
  <input
    type="hidden"
    name=":formstart"
    value="/content/core-components-examples/library/form/input/jcr:content/root/responsivegrid/demo/component/container"
  />
  <input type="hidden" name="_charset_" value="utf-8" />

  <div class="text aem-GridColumn aem-GridColumn--default--12">
    <div class="cmp-form-text" data-cmp-is="formText">
      <label for="form-text-1673594539">Name</label>

      <input
        class="cmp-form-text__text"
        data-cmp-hook-form-text="input"
        type="text"
        id="form-text-1673594539"
        placeholder="First Name"
        name="firstName"
        spellcheck="true"
        aria-describedby="form-text-1673594539-helpMessage"
      />
    </div>
  </div>
  <div class="text aem-GridColumn aem-GridColumn--default--12">
    <div
      class="cmp-form-text"
      data-cmp-is="formText"
      data-cmp-required-message="You need to add your email to log in"
    >
      <label for="form-text-109625527">E-Mail</label>

      <input
        class="cmp-form-text__text"
        data-cmp-hook-form-text="input"
        type="email"
        id="form-text-109625527"
        placeholder="E-Mail"
        name="email"
        required
        spellcheck="true"
        aria-describedby="form-text-109625527-helpMessage"
      />
    </div>
  </div>
  <div class="text aem-GridColumn aem-GridColumn--default--12">
    <div class="cmp-form-text" data-cmp-is="formText">
      <label for="form-text-1264745934">Message</label>

      <textarea
        class="cmp-form-text__textarea"
        data-cmp-hook-form-text="input"
        id="form-text-1264745934"
        placeholder="Message"
        name="textarea"
        rows="2"
        spellcheck="true"
        aria-describedby="form-text-1264745934-helpMessage"
      ></textarea>
    </div>
  </div>
</form>
