<form
  method="POST"
  action="/content/core-components-examples/library/form/input.html"
  id="new_form"
  name="new_form"
  enctype="multipart/form-data"
  class="cmp-form aem-Grid aem-Grid--12 aem-Grid--default--12"
>
  <input
    type="hidden"
    name=":formstart"
    value="/content/core-components-examples/library/form/input/jcr:content/root/responsivegrid/demo_665944747/component/container"
  />
  <input type="hidden" name="_charset_" value="utf-8" />

  <div class="text aem-GridColumn aem-GridColumn--default--12">
    <div class="cmp-form-text" data-cmp-is="formText">
      <label for="form-text-1283012419">Set Password</label>

      <input
        class="cmp-form-text__text"
        data-cmp-hook-form-text="input"
        type="password"
        id="form-text-1283012419"
        placeholder="password"
        name="pw"
        value="12345"
        required
        spellcheck="true"
        aria-describedby="form-text-1283012419-helpMessage"
      />
    </div>
  </div>
  <div class="text aem-GridColumn aem-GridColumn--default--12">
    <div
      class="cmp-form-text"
      data-cmp-is="formText"
      data-cmp-required-message="It is required to insert password twice "
    >
      <label for="form-text-1261613410">Confirm</label>

      <input
        class="cmp-form-text__text"
        data-cmp-hook-form-text="input"
        type="password"
        id="form-text-1261613410"
        placeholder="password"
        name="confirmpw"
        required
        spellcheck="true"
        aria-describedby="form-text-1261613410-helpMessage"
      />
    </div>
  </div>
</form>
