<form
  method="POST"
  action="/content/core-components-examples/library/form/input.html"
  id="new_form"
  name="new_form"
  enctype="multipart/form-data"
  class="cmp-form aem-Grid aem-Grid--12 aem-Grid--default--12"
>
  <input
    type="hidden"
    name=":formstart"
    value="/content/core-components-examples/library/form/input/jcr:content/root/responsivegrid/demo_881795653/component/container"
  />
  <input type="hidden" name="_charset_" value="utf-8" />

  <div class="text aem-GridColumn aem-GridColumn--default--12">
    <div class="cmp-form-text" data-cmp-is="formText">
      <label for="form-text-1190565094">Phone Number</label>

      <input
        class="cmp-form-text__text"
        data-cmp-hook-form-text="input"
        type="tel"
        id="form-text-1190565094"
        placeholder="+44 87 299 777 22"
        name="phonenumber"
        spellcheck="true"
        aria-describedby="form-text-1190565094-helpMessage"
      />
    </div>
  </div>
  <div class="text aem-GridColumn aem-GridColumn--default--12">
    <div class="cmp-form-text" data-cmp-is="formText">
      <label for="form-text-1353586212">Date</label>

      <input
        class="cmp-form-text__text"
        data-cmp-hook-form-text="input"
        type="date"
        id="form-text-1353586212"
        placeholder="01.01.2020"
        name="date"
        spellcheck="true"
        aria-describedby="form-text-1353586212-helpMessage"
      />
    </div>
  </div>
  <div class="text aem-GridColumn aem-GridColumn--default--12">
    <div class="cmp-form-text" data-cmp-is="formText">
      <label for="form-text-1834531460">Favorite number</label>

      <input
        class="cmp-form-text__text"
        data-cmp-hook-form-text="input"
        type="number"
        id="form-text-1834531460"
        name="favoritenumber"
        spellcheck="true"
      />
    </div>
  </div>
</form>
