<section id="contentfragmentlist-09a3d143e5" class="cmp-contentfragmentlist">
  <article
    class="cmp-contentfragment cmp-contentfragment--adobe-headquarters"
    data-cmp-contentfragment-model="core-components-examples/models/office"
  >
    <h3 class="cmp-contentfragment__title">Adobe Headquarters</h3>

    <dl class="cmp-contentfragment__elements">
      <div
        class="cmp-contentfragment__element cmp-contentfragment__element--title"
        data-cmp-contentfragment-element-type="string"
      >
        <dt class="cmp-contentfragment__element-title">Title</dt>
        <dd class="cmp-contentfragment__element-value">Adobe Headquarters</dd>
      </div>

      <div
        class="cmp-contentfragment__element cmp-contentfragment__element--city"
        data-cmp-contentfragment-element-type="string"
      >
        <dt class="cmp-contentfragment__element-title">City</dt>
        <dd class="cmp-contentfragment__element-value">San Jose</dd>
      </div>
    </dl>
  </article>

  <article
    class="cmp-contentfragment cmp-contentfragment--adobe-basel"
    data-cmp-contentfragment-model="core-components-examples/models/office"
  >
    <h3 class="cmp-contentfragment__title">Adobe Research Schweiz AG</h3>

    <dl class="cmp-contentfragment__elements">
      <div
        class="cmp-contentfragment__element cmp-contentfragment__element--title"
        data-cmp-contentfragment-element-type="string"
      >
        <dt class="cmp-contentfragment__element-title">Title</dt>
        <dd class="cmp-contentfragment__element-value">
          Adobe Research Schweiz AG
        </dd>
      </div>

      <div
        class="cmp-contentfragment__element cmp-contentfragment__element--city"
        data-cmp-contentfragment-element-type="string"
      >
        <dt class="cmp-contentfragment__element-title">City</dt>
        <dd class="cmp-contentfragment__element-value">Basel</dd>
      </div>
    </dl>
  </article>

  <article
    class="cmp-contentfragment cmp-contentfragment--adobe-san-francisco"
    data-cmp-contentfragment-model="core-components-examples/models/office"
  >
    <h3 class="cmp-contentfragment__title">Adobe San Francisco</h3>

    <dl class="cmp-contentfragment__elements">
      <div
        class="cmp-contentfragment__element cmp-contentfragment__element--title"
        data-cmp-contentfragment-element-type="string"
      >
        <dt class="cmp-contentfragment__element-title">Title</dt>
        <dd class="cmp-contentfragment__element-value">Adobe San Francisco</dd>
      </div>

      <div
        class="cmp-contentfragment__element cmp-contentfragment__element--city"
        data-cmp-contentfragment-element-type="string"
      >
        <dt class="cmp-contentfragment__element-title">City</dt>
        <dd class="cmp-contentfragment__element-value">San Francisco</dd>
      </div>
    </dl>
  </article>
</section>
