<section id="contentfragmentlist-187c77c98e" class="cmp-contentfragmentlist">
  <article
    class="cmp-contentfragment cmp-contentfragment--adobe-headquarters"
    data-cmp-contentfragment-model="core-components-examples/models/office"
  >
    <h3 class="cmp-contentfragment__title">Adobe Headquarters</h3>

    <dl class="cmp-contentfragment__elements">
      <div
        class="cmp-contentfragment__element cmp-contentfragment__element--title"
        data-cmp-contentfragment-element-type="string"
      >
        <dt class="cmp-contentfragment__element-title">Title</dt>
        <dd class="cmp-contentfragment__element-value">Adobe Headquarters</dd>
      </div>

      <div
        class="cmp-contentfragment__element cmp-contentfragment__element--streetAddress"
        data-cmp-contentfragment-element-type="string"
      >
        <dt class="cmp-contentfragment__element-title">Street Address</dt>
        <dd class="cmp-contentfragment__element-value">345 Park Avenue</dd>
      </div>

      <div
        class="cmp-contentfragment__element cmp-contentfragment__element--city"
        data-cmp-contentfragment-element-type="string"
      >
        <dt class="cmp-contentfragment__element-title">City</dt>
        <dd class="cmp-contentfragment__element-value">San Jose</dd>
      </div>

      <div
        class="cmp-contentfragment__element cmp-contentfragment__element--postalCode"
        data-cmp-contentfragment-element-type="string"
      >
        <dt class="cmp-contentfragment__element-title">Postal Code</dt>
        <dd class="cmp-contentfragment__element-value">95110-2704</dd>
      </div>

      <div
        class="cmp-contentfragment__element cmp-contentfragment__element--country"
        data-cmp-contentfragment-element-type="string"
      >
        <dt class="cmp-contentfragment__element-title">Country</dt>
        <dd class="cmp-contentfragment__element-value">USA</dd>
      </div>

      <div
        class="cmp-contentfragment__element cmp-contentfragment__element--region"
        data-cmp-contentfragment-element-type="string"
      >
        <dt class="cmp-contentfragment__element-title">Region</dt>
        <dd class="cmp-contentfragment__element-value">
          core-components-examples:region/north-america
        </dd>
      </div>
    </dl>
  </article>

  <article
    class="cmp-contentfragment cmp-contentfragment--adobe-basel"
    data-cmp-contentfragment-model="core-components-examples/models/office"
  >
    <h3 class="cmp-contentfragment__title">Adobe Research Schweiz AG</h3>

    <dl class="cmp-contentfragment__elements">
      <div
        class="cmp-contentfragment__element cmp-contentfragment__element--title"
        data-cmp-contentfragment-element-type="string"
      >
        <dt class="cmp-contentfragment__element-title">Title</dt>
        <dd class="cmp-contentfragment__element-value">
          Adobe Research Schweiz AG
        </dd>
      </div>

      <div
        class="cmp-contentfragment__element cmp-contentfragment__element--streetAddress"
        data-cmp-contentfragment-element-type="string"
      >
        <dt class="cmp-contentfragment__element-title">Street Address</dt>
        <dd class="cmp-contentfragment__element-value">Barfüsserplatz 6</dd>
      </div>

      <div
        class="cmp-contentfragment__element cmp-contentfragment__element--city"
        data-cmp-contentfragment-element-type="string"
      >
        <dt class="cmp-contentfragment__element-title">City</dt>
        <dd class="cmp-contentfragment__element-value">Basel</dd>
      </div>

      <div
        class="cmp-contentfragment__element cmp-contentfragment__element--postalCode"
        data-cmp-contentfragment-element-type="string"
      >
        <dt class="cmp-contentfragment__element-title">Postal Code</dt>
        <dd class="cmp-contentfragment__element-value">CH-4051</dd>
      </div>

      <div
        class="cmp-contentfragment__element cmp-contentfragment__element--country"
        data-cmp-contentfragment-element-type="string"
      >
        <dt class="cmp-contentfragment__element-title">Country</dt>
        <dd class="cmp-contentfragment__element-value">Switzerland</dd>
      </div>

      <div
        class="cmp-contentfragment__element cmp-contentfragment__element--region"
        data-cmp-contentfragment-element-type="string"
      >
        <dt class="cmp-contentfragment__element-title">Region</dt>
        <dd class="cmp-contentfragment__element-value">
          core-components-examples:region/europe-middleeast-africa
        </dd>
      </div>
    </dl>
  </article>

  <article
    class="cmp-contentfragment cmp-contentfragment--adobe-san-francisco"
    data-cmp-contentfragment-model="core-components-examples/models/office"
  >
    <h3 class="cmp-contentfragment__title">Adobe San Francisco</h3>

    <dl class="cmp-contentfragment__elements">
      <div
        class="cmp-contentfragment__element cmp-contentfragment__element--title"
        data-cmp-contentfragment-element-type="string"
      >
        <dt class="cmp-contentfragment__element-title">Title</dt>
        <dd class="cmp-contentfragment__element-value">Adobe San Francisco</dd>
      </div>

      <div
        class="cmp-contentfragment__element cmp-contentfragment__element--streetAddress"
        data-cmp-contentfragment-element-type="string"
      >
        <dt class="cmp-contentfragment__element-title">Street Address</dt>
        <dd class="cmp-contentfragment__element-value">601 Townsend Street</dd>
      </div>

      <div
        class="cmp-contentfragment__element cmp-contentfragment__element--city"
        data-cmp-contentfragment-element-type="string"
      >
        <dt class="cmp-contentfragment__element-title">City</dt>
        <dd class="cmp-contentfragment__element-value">San Francisco</dd>
      </div>

      <div
        class="cmp-contentfragment__element cmp-contentfragment__element--postalCode"
        data-cmp-contentfragment-element-type="string"
      >
        <dt class="cmp-contentfragment__element-title">Postal Code</dt>
        <dd class="cmp-contentfragment__element-value">94103</dd>
      </div>

      <div
        class="cmp-contentfragment__element cmp-contentfragment__element--country"
        data-cmp-contentfragment-element-type="string"
      >
        <dt class="cmp-contentfragment__element-title">Country</dt>
        <dd class="cmp-contentfragment__element-value">USA</dd>
      </div>

      <div
        class="cmp-contentfragment__element cmp-contentfragment__element--region"
        data-cmp-contentfragment-element-type="string"
      >
        <dt class="cmp-contentfragment__element-title">Region</dt>
        <dd class="cmp-contentfragment__element-value">
          core-components-examples:region/north-america
        </dd>
      </div>
    </dl>
  </article>
</section>
