<div
  data-cmp-is="image"
  data-cmp-lazythreshold="0"
  data-cmp-src="/content/core-components-examples/library/page-authoring/image/_jcr_content/root/responsivegrid/demo_1473529393/component/image.coreimg{.width}.jpeg/1714685439665/snowy-mountain-glacier.jpeg"
  data-asset="/content/dam/core-components-examples/library/sample-assets/snowy-mountain-glacier.jpg"
  data-asset-id="45c6ee92-90e1-4af2-af69-b6dcbc7daeb7"
  data-title="Snowy mountain glacier"
  id="image-8974cba812"
  data-cmp-data-layer="{&#34;image-8974cba812&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/image&#34;,&#34;dc:title&#34;:&#34;Snowy mountain glacier&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/page-authoring/image.html&#34;,&#34;image&#34;:{&#34;repo:id&#34;:&#34;45c6ee92-90e1-4af2-af69-b6dcbc7daeb7&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:39Z&#34;,&#34;@type&#34;:&#34;image/jpeg&#34;,&#34;repo:path&#34;:&#34;/content/dam/core-components-examples/library/sample-assets/snowy-mountain-glacier.jpg&#34;}}}"
  class="cmp-image"
  itemscope
  itemtype="http://schema.org/ImageObject"
>
  <a
    class="cmp-image__link"
    href="/content/core-components-examples/library/page-authoring/image.html"
    data-cmp-clickable
    data-cmp-hook-image="link"
  >
    <img
    src=http://localhost:4502/content/core-components-examples/library/page-authoring/image/_jcr_content/root/responsivegrid/demo_1473529393/component/image.coreimg.jpeg/1714685439665/snowy-mountain-glacier.jpeg
    class="cmp-image__image" itemprop="contentUrl" data-cmp-hook-image="image"
    alt="Snowy mountain glacier" title="Snowy mountain glacier"/>
  </a>

  <meta itemprop="caption" content="Snowy mountain glacier" />
</div>
