<div
  data-cmp-is="image"
  data-cmp-lazythreshold="0"
  data-cmp-src="/content/core-components-examples/library/page-authoring/image/_jcr_content/root/responsivegrid/demo_554582955/component/image.coreimg{.width}.jpeg/1714685439433/lava-into-ocean.jpeg"
  data-asset="/content/dam/core-components-examples/library/sample-assets/lava-into-ocean.jpg"
  data-asset-id="0f54e1b5-535b-45f7-a46b-35abb19dd6bc"
  data-title="Lava flowing into the ocean"
  id="image-f4b958f398"
  data-cmp-data-layer="{&#34;image-f4b958f398&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/image&#34;,&#34;dc:title&#34;:&#34;Lava flowing into the ocean&#34;,&#34;image&#34;:{&#34;repo:id&#34;:&#34;0f54e1b5-535b-45f7-a46b-35abb19dd6bc&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:39Z&#34;,&#34;@type&#34;:&#34;image/jpeg&#34;,&#34;repo:path&#34;:&#34;/content/dam/core-components-examples/library/sample-assets/lava-into-ocean.jpg&#34;}}}"
  class="cmp-image"
  itemscope
  itemtype="http://schema.org/ImageObject"
>
  <img
  src=http://localhost:4502/content/core-components-examples/library/page-authoring/image/_jcr_content/root/responsivegrid/demo_554582955/component/image.coreimg.jpeg/1714685439433/lava-into-ocean.jpeg
  class="cmp-image__image" itemprop="contentUrl" data-cmp-hook-image="image"
  alt="Lava flowing into the ocean" title="Lava flowing into the ocean"/>

  <meta itemprop="caption" content="Lava flowing into the ocean" />
</div>
