<div
  id="container-930528f698"
  class="cmp-container"
  style="
    background-image: url(\2f content\2f dam\2f core-components-examples\2flibrary\2fsample-assets\2fsnowy-mountain-glacier.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  "
>
  <div class="title">
    <div
      data-cmp-data-layer="{&#34;title-1be658ff0e&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/title&#34;,&#34;dc:title&#34;:&#34;Lorem Ipsum&#34;}}"
      id="title-1be658ff0e"
      class="cmp-title"
    >
      <h3 class="cmp-title__text">Lorem Ipsum</h3>
    </div>
  </div>
  <div class="text">
    <div
      data-cmp-data-layer="{&#34;text-f2110b822b&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/text&#34;,&#34;xdm:text&#34;:&#34;&lt;p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu mi bibendum neque egestas congue quisque egestas. Varius morbi enim nunc faucibus a pellentesque. Scelerisque eleifend donec pretium vulputate sapien nec sagittis.&lt;/p>&#34;}}"
      id="text-f2110b822b"
      class="cmp-text"
    >
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Eu mi bibendum neque
        egestas congue quisque egestas. Varius morbi enim nunc faucibus a
        pellentesque. Scelerisque eleifend donec pretium vulputate sapien nec
        sagittis.
      </p>
    </div>
  </div>
</div>
