<div
  id="container-39c6683d5f"
  class="cmp-container"
  style="
    background-image: url(\2f content\2f dam\2f core-components-examples\2flibrary\2fsample-assets\2flava-into-ocean.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #39cccc;
  "
>
  <div class="aem-Grid aem-Grid--12 aem-Grid--default--12">
    <div class="title aem-GridColumn aem-GridColumn--default--12">
      <div
        data-cmp-data-layer="{&#34;title-bb335a88c9&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/title&#34;,&#34;dc:title&#34;:&#34;Lorem Ipsum&#34;}}"
        id="title-bb335a88c9"
        class="cmp-title"
      >
        <h3 class="cmp-title__text">Lorem Ipsum</h3>
      </div>
    </div>
    <div class="text aem-GridColumn aem-GridColumn--default--12">
      <div
        data-cmp-data-layer="{&#34;text-ad0bcbf737&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/text&#34;,&#34;xdm:text&#34;:&#34;&lt;p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu mi bibendum neque egestas congue quisque egestas. Varius morbi enim nunc faucibus a pellentesque. Scelerisque eleifend donec pretium vulputate sapien nec sagittis.&lt;/p>&#34;}}"
        id="text-ad0bcbf737"
        class="cmp-text"
      >
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu mi
          bibendum neque egestas congue quisque egestas. Varius morbi enim nunc
          faucibus a pellentesque. Scelerisque eleifend donec pretium vulputate
          sapien nec sagittis.
        </p>
      </div>
    </div>
    <div
      class="container responsivegrid aem-GridColumn--default--none aem-GridColumn aem-GridColumn--default--6 aem-GridColumn--offset--default--0"
    >
      <div
        id="container-ad9ce2a65d"
        class="cmp-container"
        style="background-color: rgba(255, 133, 27, 0.75)"
      >
        <div class="aem-Grid aem-Grid--6 aem-Grid--default--6">
          <div class="title aem-GridColumn aem-GridColumn--default--6">
            <div
              data-cmp-data-layer="{&#34;title-bfd588181c&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/title&#34;,&#34;dc:title&#34;:&#34;Hac Habitasse&#34;}}"
              id="title-bfd588181c"
              class="cmp-title"
            >
              <h4 class="cmp-title__text">Hac Habitasse</h4>
            </div>
          </div>
          <div class="text aem-GridColumn aem-GridColumn--default--6">
            <div
              data-cmp-data-layer="{&#34;text-390c0ed4d8&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/text&#34;,&#34;xdm:text&#34;:&#34;&lt;p>Hac habitasse platea dictumst quisque sagittis purus. At risus viverra adipiscing at in tellus integer. Sit amet consectetur adipiscing elit duis tristique sollicitudin. Leo vel orci porta non pulvinar neque laoreet suspendisse. Volutpat diam ut venenatis tellus in metus vulputate eu.&lt;/p>&#34;}}"
              id="text-390c0ed4d8"
              class="cmp-text"
            >
              <p>
                Hac habitasse platea dictumst quisque sagittis purus. At risus
                viverra adipiscing at in tellus integer. Sit amet consectetur
                adipiscing elit duis tristique sollicitudin. Leo vel orci porta
                non pulvinar neque laoreet suspendisse. Volutpat diam ut
                venenatis tellus in metus vulputate eu.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="container responsivegrid aem-GridColumn--default--none aem-GridColumn aem-GridColumn--default--6 aem-GridColumn--offset--default--0"
    >
      <div
        id="container-dc0960139a"
        class="cmp-container"
        style="background-color: rgba(127, 219, 255, 0.5)"
      >
        <div class="aem-Grid aem-Grid--6 aem-Grid--default--6">
          <div class="title aem-GridColumn aem-GridColumn--default--6">
            <div
              data-cmp-data-layer="{&#34;title-6ff30316ee&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/title&#34;,&#34;dc:title&#34;:&#34;Libero Id Faucibus&#34;}}"
              id="title-6ff30316ee"
              class="cmp-title"
            >
              <h4 class="cmp-title__text">Libero Id Faucibus</h4>
            </div>
          </div>
          <div class="text aem-GridColumn aem-GridColumn--default--6">
            <div
              data-cmp-data-layer="{&#34;text-f9d1a8505f&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/text&#34;,&#34;xdm:text&#34;:&#34;&lt;p>Libero id faucibus nisl tincidunt eget nullam non nisi. Hac habitasse platea dictumst vestibulum. Viverra orci sagittis eu volutpat odio facilisis mauris. Velit aliquet sagittis id consectetur purus ut. Orci phasellus egestas tellus rutrum tellus pellentesque eu tincidunt.&lt;/p>&#34;}}"
              id="text-f9d1a8505f"
              class="cmp-text"
            >
              <p>
                Libero id faucibus nisl tincidunt eget nullam non nisi. Hac
                habitasse platea dictumst vestibulum. Viverra orci sagittis eu
                volutpat odio facilisis mauris. Velit aliquet sagittis id
                consectetur purus ut. Orci phasellus egestas tellus rutrum
                tellus pellentesque eu tincidunt.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
