<div
  class="fb-share-button"
  data-href="http://localhost:4503/content/core-components-examples/library/page-authoring/social-sharing.html"
  data-layout="button_count"
  data-size="small"
  data-mobile-iframe="false"
></div>
<a
  data-pin-do="buttonPin"
  data-pin-count="beside"
  data-pin-save="true"
  data-pin-media="http://localhost:4503/content/core-components-examples/library/page-authoring/social-sharing.thumb.800.480.png?ck=1714685437"
  href="https://www.pinterest.com/pin/create/button/"
></a>
