<ul
  id="list-f50b36b533"
  data-cmp-data-layer="{&#34;list-f50b36b533&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/list&#34;}}"
  class="cmp-list"
>
  <li
    class="cmp-list__item"
    data-cmp-data-layer="{&#34;list-f50b36b533-item-b0a08e7237&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/list/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:36Z&#34;,&#34;dc:title&#34;:&#34;Carousel&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/container/carousel.html&#34;}}"
  >
    <span class="cmp-list__item-title">Carousel</span>
  </li>

  <li
    class="cmp-list__item"
    data-cmp-data-layer="{&#34;list-f50b36b533-item-bd937d6b13&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/list/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:36Z&#34;,&#34;dc:title&#34;:&#34;Teaser&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/page-authoring/teaser.html&#34;}}"
  >
    <span class="cmp-list__item-title">Teaser</span>
  </li>

  <li
    class="cmp-list__item"
    data-cmp-data-layer="{&#34;list-f50b36b533-item-e13089bf3b&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/list/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:36Z&#34;,&#34;dc:title&#34;:&#34;Text&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/page-authoring/text.html&#34;}}"
  >
    <span class="cmp-list__item-title">Text</span>
  </li>
</ul>
