<ul
  id="list-949c81eff0"
  data-cmp-data-layer="{&#34;list-949c81eff0&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/list&#34;}}"
  class="cmp-list"
>
  <li
    class="cmp-list__item"
    data-cmp-data-layer="{&#34;list-949c81eff0-item-df1699a779&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/list/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:36Z&#34;,&#34;dc:title&#34;:&#34;Title&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/page-authoring/title.html&#34;}}"
  >
    <a
      class="cmp-list__item-link"
      data-cmp-clickable
      href="/content/core-components-examples/library/page-authoring/title.html"
    >
      <span class="cmp-list__item-title">Title</span>
      <span class="cmp-list__item-date">2024-05-05</span>
    </a>
    <span class="cmp-list__item-description">Display a page heading</span>
  </li>

  <li
    class="cmp-list__item"
    data-cmp-data-layer="{&#34;list-949c81eff0-item-e13089bf3b&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/list/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:36Z&#34;,&#34;dc:title&#34;:&#34;Text&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/page-authoring/text.html&#34;}}"
  >
    <a
      class="cmp-list__item-link"
      data-cmp-clickable
      href="/content/core-components-examples/library/page-authoring/text.html"
    >
      <span class="cmp-list__item-title">Text</span>
      <span class="cmp-list__item-date">2024-05-06</span>
    </a>
    <span class="cmp-list__item-description"
      >Display a rich text paragraph</span
    >
  </li>

  <li
    class="cmp-list__item"
    data-cmp-data-layer="{&#34;list-949c81eff0-item-26f940ec0f&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/list/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:37Z&#34;,&#34;dc:title&#34;:&#34;Image&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/page-authoring/image.html&#34;}}"
  >
    <a
      class="cmp-list__item-link"
      data-cmp-clickable
      href="/content/core-components-examples/library/page-authoring/image.html"
    >
      <span class="cmp-list__item-title">Image</span>
      <span class="cmp-list__item-date"></span>
    </a>
    <span class="cmp-list__item-description">Display an image asset</span>
  </li>

  <li
    class="cmp-list__item"
    data-cmp-data-layer="{&#34;list-949c81eff0-item-5ce5bb112c&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/list/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:37Z&#34;,&#34;dc:title&#34;:&#34;Button&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/page-authoring/button.html&#34;}}"
  >
    <a
      class="cmp-list__item-link"
      data-cmp-clickable
      href="/content/core-components-examples/library/page-authoring/button.html"
    >
      <span class="cmp-list__item-title">Button</span>
      <span class="cmp-list__item-date">2024-05-14</span>
    </a>
    <span class="cmp-list__item-description"
      >Display a button or anchor button</span
    >
  </li>

  <li
    class="cmp-list__item"
    data-cmp-data-layer="{&#34;list-949c81eff0-item-bd937d6b13&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/list/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:36Z&#34;,&#34;dc:title&#34;:&#34;Teaser&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/page-authoring/teaser.html&#34;}}"
  >
    <a
      class="cmp-list__item-link"
      data-cmp-clickable
      href="/content/core-components-examples/library/page-authoring/teaser.html"
    >
      <span class="cmp-list__item-title">Teaser</span>
      <span class="cmp-list__item-date">2024-05-15</span>
    </a>
    <span class="cmp-list__item-description">Link an image and text</span>
  </li>

  <li
    class="cmp-list__item"
    data-cmp-data-layer="{&#34;list-949c81eff0-item-d911db0f45&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/list/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:36Z&#34;,&#34;dc:title&#34;:&#34;Download&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/page-authoring/download.html&#34;}}"
  >
    <a
      class="cmp-list__item-link"
      data-cmp-clickable
      href="/content/core-components-examples/library/page-authoring/download.html"
    >
      <span class="cmp-list__item-title">Download</span>
      <span class="cmp-list__item-date"></span>
    </a>
    <span class="cmp-list__item-description"
      >Display an asset for download</span
    >
  </li>

  <li
    class="cmp-list__item"
    data-cmp-data-layer="{&#34;list-949c81eff0-item-da73ac8b3b&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/list/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:37Z&#34;,&#34;dc:title&#34;:&#34;List&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/page-authoring/list.html&#34;}}"
  >
    <a
      class="cmp-list__item-link"
      data-cmp-clickable
      href="/content/core-components-examples/library/page-authoring/list.html"
    >
      <span class="cmp-list__item-title">List</span>
      <span class="cmp-list__item-date"></span>
    </a>
    <span class="cmp-list__item-description">Display a list of pages</span>
  </li>

  <li
    class="cmp-list__item"
    data-cmp-data-layer="{&#34;list-949c81eff0-item-849883059f&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/list/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:37Z&#34;,&#34;dc:title&#34;:&#34;Experience Fragment&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/page-authoring/experience-fragment.html&#34;}}"
  >
    <a
      class="cmp-list__item-link"
      data-cmp-clickable
      href="/content/core-components-examples/library/page-authoring/experience-fragment.html"
    >
      <span class="cmp-list__item-title">Experience Fragment</span>
      <span class="cmp-list__item-date"></span>
    </a>
    <span class="cmp-list__item-description"
      >Display an experience fragment</span
    >
  </li>

  <li
    class="cmp-list__item"
    data-cmp-data-layer="{&#34;list-949c81eff0-item-12f115629d&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/list/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:36Z&#34;,&#34;dc:title&#34;:&#34;Content Fragment&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/page-authoring/content-fragment.html&#34;}}"
  >
    <a
      class="cmp-list__item-link"
      data-cmp-clickable
      href="/content/core-components-examples/library/page-authoring/content-fragment.html"
    >
      <span class="cmp-list__item-title">Content Fragment</span>
      <span class="cmp-list__item-date"></span>
    </a>
    <span class="cmp-list__item-description"
      >Display a content fragment asset</span
    >
  </li>

  <li
    class="cmp-list__item"
    data-cmp-data-layer="{&#34;list-949c81eff0-item-f48a790a96&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/list/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:36Z&#34;,&#34;dc:title&#34;:&#34;Content Fragment List&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/page-authoring/content-fragment-list.html&#34;}}"
  >
    <a
      class="cmp-list__item-link"
      data-cmp-clickable
      href="/content/core-components-examples/library/page-authoring/content-fragment-list.html"
    >
      <span class="cmp-list__item-title">Content Fragment List</span>
      <span class="cmp-list__item-date"></span>
    </a>
    <span class="cmp-list__item-description"
      >Display a list of content fragments</span
    >
  </li>

  <li
    class="cmp-list__item"
    data-cmp-data-layer="{&#34;list-949c81eff0-item-12fc929c8a&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/list/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:36Z&#34;,&#34;dc:title&#34;:&#34;Embed&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/page-authoring/embed.html&#34;}}"
  >
    <a
      class="cmp-list__item-link"
      data-cmp-clickable
      href="/content/core-components-examples/library/page-authoring/embed.html"
    >
      <span class="cmp-list__item-title">Embed</span>
      <span class="cmp-list__item-date"></span>
    </a>
    <span class="cmp-list__item-description">Embed a third-party widget</span>
  </li>

  <li
    class="cmp-list__item"
    data-cmp-data-layer="{&#34;list-949c81eff0-item-9f8160f4bd&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/list/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:36Z&#34;,&#34;dc:title&#34;:&#34;PDF Viewer&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/page-authoring/pdf-viewer.html&#34;}}"
  >
    <a
      class="cmp-list__item-link"
      data-cmp-clickable
      href="/content/core-components-examples/library/page-authoring/pdf-viewer.html"
    >
      <span class="cmp-list__item-title">PDF Viewer</span>
      <span class="cmp-list__item-date"></span>
    </a>
    <span class="cmp-list__item-description"
      >Embed a PDF Viewer widget to display Document Cloud PDF&#39;s</span
    >
  </li>

  <li
    class="cmp-list__item"
    data-cmp-data-layer="{&#34;list-949c81eff0-item-5cc306b231&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/list/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:36Z&#34;,&#34;dc:title&#34;:&#34;Progress Bar&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/page-authoring/progressbar.html&#34;}}"
  >
    <a
      class="cmp-list__item-link"
      data-cmp-clickable
      href="/content/core-components-examples/library/page-authoring/progressbar.html"
    >
      <span class="cmp-list__item-title">Progress Bar</span>
      <span class="cmp-list__item-date"></span>
    </a>
    <span class="cmp-list__item-description">Display a progress indicator</span>
  </li>

  <li
    class="cmp-list__item"
    data-cmp-data-layer="{&#34;list-949c81eff0-item-db5309eae3&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/list/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:37Z&#34;,&#34;dc:title&#34;:&#34;Social Sharing&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/page-authoring/social-sharing.html&#34;}}"
  >
    <a
      class="cmp-list__item-link"
      data-cmp-clickable
      href="/content/core-components-examples/library/page-authoring/social-sharing.html"
    >
      <span class="cmp-list__item-title">Social Sharing</span>
      <span class="cmp-list__item-date"></span>
    </a>
    <span class="cmp-list__item-description">Add social sharing links</span>
  </li>

  <li
    class="cmp-list__item"
    data-cmp-data-layer="{&#34;list-949c81eff0-item-611486886f&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/list/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:36Z&#34;,&#34;dc:title&#34;:&#34;Separator&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/page-authoring/separator.html&#34;}}"
  >
    <a
      class="cmp-list__item-link"
      data-cmp-clickable
      href="/content/core-components-examples/library/page-authoring/separator.html"
    >
      <span class="cmp-list__item-title">Separator</span>
      <span class="cmp-list__item-date">2024-05-05</span>
    </a>
    <span class="cmp-list__item-description">Display a section divider</span>
  </li>
</ul>
