<ul
  id="list-e66e1a1f05"
  data-cmp-data-layer="{&#34;list-e66e1a1f05&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/list&#34;}}"
  class="cmp-list"
>
  <li
    class="cmp-list__item"
    data-cmp-data-layer="{&#34;list-e66e1a1f05-item-df1699a779&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/list/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:36Z&#34;,&#34;dc:title&#34;:&#34;Title&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/page-authoring/title.html&#34;}}"
  >
    <div
      id="teaser-e66e1a1f05"
      class="cmp-teaser"
      data-cmp-data-layer="{&#34;teaser-e66e1a1f05&#34;:{&#34;@type&#34;:&#34;core/wcm/components/teaser/v2/teaser&#34;,&#34;dc:title&#34;:&#34;Title&#34;,&#34;dc:description&#34;:&#34;Display a page heading&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/page-authoring/title.html&#34;}}"
    >
      <a
        class="cmp-teaser__link"
        data-cmp-clickable
        href="/content/core-components-examples/library/page-authoring/title.html"
      >
        <div class="cmp-teaser__content">
          <h2 class="cmp-teaser__title">Title</h2>

          <div class="cmp-teaser__description">Display a page heading</div>
        </div>
      </a>
    </div>
  </li>

  <li
    class="cmp-list__item"
    data-cmp-data-layer="{&#34;list-e66e1a1f05-item-e13089bf3b&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/list/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:36Z&#34;,&#34;dc:title&#34;:&#34;Text&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/page-authoring/text.html&#34;}}"
  >
    <div
      id="teaser-e66e1a1f05"
      class="cmp-teaser"
      data-cmp-data-layer="{&#34;teaser-e66e1a1f05&#34;:{&#34;@type&#34;:&#34;core/wcm/components/teaser/v2/teaser&#34;,&#34;dc:title&#34;:&#34;Text&#34;,&#34;dc:description&#34;:&#34;Display a rich text paragraph&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/page-authoring/text.html&#34;}}"
    >
      <a
        class="cmp-teaser__link"
        data-cmp-clickable
        href="/content/core-components-examples/library/page-authoring/text.html"
      >
        <div class="cmp-teaser__content">
          <h2 class="cmp-teaser__title">Text</h2>

          <div class="cmp-teaser__description">
            Display a rich text paragraph
          </div>
        </div>
      </a>
    </div>
  </li>

  <li
    class="cmp-list__item"
    data-cmp-data-layer="{&#34;list-e66e1a1f05-item-26f940ec0f&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/list/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:37Z&#34;,&#34;dc:title&#34;:&#34;Image&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/page-authoring/image.html&#34;}}"
  >
    <div
      id="teaser-e66e1a1f05"
      class="cmp-teaser"
      data-cmp-data-layer="{&#34;teaser-e66e1a1f05&#34;:{&#34;@type&#34;:&#34;core/wcm/components/teaser/v2/teaser&#34;,&#34;dc:title&#34;:&#34;Image&#34;,&#34;dc:description&#34;:&#34;Display an image asset&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/page-authoring/image.html&#34;}}"
    >
      <a
        class="cmp-teaser__link"
        data-cmp-clickable
        href="/content/core-components-examples/library/page-authoring/image.html"
      >
        <div class="cmp-teaser__content">
          <h2 class="cmp-teaser__title">Image</h2>

          <div class="cmp-teaser__description">Display an image asset</div>
        </div>

        <div class="cmp-teaser__image">
          <div
            data-cmp-is="image"
            data-cmp-src="/content/core-components-examples/library/page-authoring/list/_jcr_content/root/responsivegrid/demo_1381767469/component/list.coreimg{.width}.jpeg/content/core-components-examples/library/page-authoring/image/jcr:content/cq:featuredimage/1714685439433/lava-into-ocean.jpeg"
            data-asset-id="0f54e1b5-535b-45f7-a46b-35abb19dd6bc"
            data-cmp-filereference="/content/dam/core-components-examples/library/sample-assets/lava-into-ocean.jpg"
            id="teaser-e66e1a1f05-image"
            data-cmp-data-layer="{&#34;teaser-e66e1a1f05-image&#34;:{&#34;@type&#34;:&#34;core/wcm/components/image/v3/image&#34;,&#34;dc:title&#34;:&#34;Lava flowing into the ocean&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/page-authoring/image.html&#34;,&#34;image&#34;:{&#34;repo:id&#34;:&#34;0f54e1b5-535b-45f7-a46b-35abb19dd6bc&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:39Z&#34;,&#34;@type&#34;:&#34;image/jpeg&#34;,&#34;repo:path&#34;:&#34;/content/dam/core-components-examples/library/sample-assets/lava-into-ocean.jpg&#34;}}}"
            data-cmp-hook-image="imageV3"
            class="cmp-image"
            itemscope
            itemtype="http://schema.org/ImageObject"
          >
            <img
            src=http://localhost:4502/content/core-components-examples/library/page-authoring/list/_jcr_content/root/responsivegrid/demo_1381767469/component/list.coreimg.jpeg/content/core-components-examples/library/page-authoring/image/_jcr_content/_cq_featuredimage/1714685439433/lava-into-ocean.jpeg
            loading="lazy" class="cmp-image__image" itemprop="contentUrl"
            width="850" height="509" alt="Lava flowing into the ocean"
            title="Lava flowing into the ocean"/>

            <meta itemprop="caption" content="Lava flowing into the ocean" />
          </div>
        </div>
      </a>
    </div>
  </li>
</ul>
