<ul
  id="list-88a698b7a4"
  data-cmp-data-layer="{&#34;list-88a698b7a4&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/list&#34;}}"
  class="cmp-list"
>
  <li
    class="cmp-list__item"
    data-cmp-data-layer="{&#34;list-88a698b7a4-item-df1699a779&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/list/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:36Z&#34;,&#34;dc:title&#34;:&#34;Title&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/page-authoring/title.html&#34;}}"
  >
    <span class="cmp-list__item-title">Title</span>
  </li>

  <li
    class="cmp-list__item"
    data-cmp-data-layer="{&#34;list-88a698b7a4-item-e13089bf3b&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/list/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:36Z&#34;,&#34;dc:title&#34;:&#34;Text&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/page-authoring/text.html&#34;}}"
  >
    <span class="cmp-list__item-title">Text</span>
  </li>

  <li
    class="cmp-list__item"
    data-cmp-data-layer="{&#34;list-88a698b7a4-item-26f940ec0f&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/list/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:37Z&#34;,&#34;dc:title&#34;:&#34;Image&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/page-authoring/image.html&#34;}}"
  >
    <span class="cmp-list__item-title">Image</span>
  </li>

  <li
    class="cmp-list__item"
    data-cmp-data-layer="{&#34;list-88a698b7a4-item-5ce5bb112c&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/list/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:37Z&#34;,&#34;dc:title&#34;:&#34;Button&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/page-authoring/button.html&#34;}}"
  >
    <span class="cmp-list__item-title">Button</span>
  </li>
</ul>
