<ul
  id="list-b5ec41c712"
  data-cmp-data-layer="{&#34;list-b5ec41c712&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/list&#34;}}"
  class="cmp-list"
>
  <li
    class="cmp-list__item"
    data-cmp-data-layer="{&#34;list-b5ec41c712-item-df1699a779&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/list/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:36Z&#34;,&#34;dc:title&#34;:&#34;Title&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/page-authoring/title.html&#34;}}"
  >
    <span class="cmp-list__item-title">Title</span>
  </li>

  <li
    class="cmp-list__item"
    data-cmp-data-layer="{&#34;list-b5ec41c712-item-e13089bf3b&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/list/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:36Z&#34;,&#34;dc:title&#34;:&#34;Text&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/page-authoring/text.html&#34;}}"
  >
    <span class="cmp-list__item-title">Text</span>
  </li>

  <li
    class="cmp-list__item"
    data-cmp-data-layer="{&#34;list-b5ec41c712-item-bd937d6b13&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/list/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:36Z&#34;,&#34;dc:title&#34;:&#34;Teaser&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/page-authoring/teaser.html&#34;}}"
  >
    <span class="cmp-list__item-title">Teaser</span>
  </li>

  <li
    class="cmp-list__item"
    data-cmp-data-layer="{&#34;list-b5ec41c712-item-db5309eae3&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/list/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:37Z&#34;,&#34;dc:title&#34;:&#34;Social Sharing&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/page-authoring/social-sharing.html&#34;}}"
  >
    <span class="cmp-list__item-title">Social Sharing</span>
  </li>

  <li
    class="cmp-list__item"
    data-cmp-data-layer="{&#34;list-b5ec41c712-item-611486886f&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/list/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:36Z&#34;,&#34;dc:title&#34;:&#34;Separator&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/page-authoring/separator.html&#34;}}"
  >
    <span class="cmp-list__item-title">Separator</span>
  </li>

  <li
    class="cmp-list__item"
    data-cmp-data-layer="{&#34;list-b5ec41c712-item-5cc306b231&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/list/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:36Z&#34;,&#34;dc:title&#34;:&#34;Progress Bar&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/page-authoring/progressbar.html&#34;}}"
  >
    <span class="cmp-list__item-title">Progress Bar</span>
  </li>

  <li
    class="cmp-list__item"
    data-cmp-data-layer="{&#34;list-b5ec41c712-item-9f8160f4bd&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/list/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:36Z&#34;,&#34;dc:title&#34;:&#34;PDF Viewer&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/page-authoring/pdf-viewer.html&#34;}}"
  >
    <span class="cmp-list__item-title">PDF Viewer</span>
  </li>

  <li
    class="cmp-list__item"
    data-cmp-data-layer="{&#34;list-b5ec41c712-item-da73ac8b3b&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/list/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:37Z&#34;,&#34;dc:title&#34;:&#34;List&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/page-authoring/list.html&#34;}}"
  >
    <span class="cmp-list__item-title">List</span>
  </li>

  <li
    class="cmp-list__item"
    data-cmp-data-layer="{&#34;list-b5ec41c712-item-26f940ec0f&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/list/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:37Z&#34;,&#34;dc:title&#34;:&#34;Image&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/page-authoring/image.html&#34;}}"
  >
    <span class="cmp-list__item-title">Image</span>
  </li>

  <li
    class="cmp-list__item"
    data-cmp-data-layer="{&#34;list-b5ec41c712-item-849883059f&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/list/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:37Z&#34;,&#34;dc:title&#34;:&#34;Experience Fragment&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/page-authoring/experience-fragment.html&#34;}}"
  >
    <span class="cmp-list__item-title">Experience Fragment</span>
  </li>

  <li
    class="cmp-list__item"
    data-cmp-data-layer="{&#34;list-b5ec41c712-item-12fc929c8a&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/list/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:36Z&#34;,&#34;dc:title&#34;:&#34;Embed&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/page-authoring/embed.html&#34;}}"
  >
    <span class="cmp-list__item-title">Embed</span>
  </li>

  <li
    class="cmp-list__item"
    data-cmp-data-layer="{&#34;list-b5ec41c712-item-d911db0f45&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/list/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:36Z&#34;,&#34;dc:title&#34;:&#34;Download&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/page-authoring/download.html&#34;}}"
  >
    <span class="cmp-list__item-title">Download</span>
  </li>

  <li
    class="cmp-list__item"
    data-cmp-data-layer="{&#34;list-b5ec41c712-item-f48a790a96&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/list/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:36Z&#34;,&#34;dc:title&#34;:&#34;Content Fragment List&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/page-authoring/content-fragment-list.html&#34;}}"
  >
    <span class="cmp-list__item-title">Content Fragment List</span>
  </li>

  <li
    class="cmp-list__item"
    data-cmp-data-layer="{&#34;list-b5ec41c712-item-12f115629d&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/list/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:36Z&#34;,&#34;dc:title&#34;:&#34;Content Fragment&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/page-authoring/content-fragment.html&#34;}}"
  >
    <span class="cmp-list__item-title">Content Fragment</span>
  </li>

  <li
    class="cmp-list__item"
    data-cmp-data-layer="{&#34;list-b5ec41c712-item-5ce5bb112c&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/list/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:37Z&#34;,&#34;dc:title&#34;:&#34;Button&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/page-authoring/button.html&#34;}}"
  >
    <span class="cmp-list__item-title">Button</span>
  </li>
</ul>
