<nav
  data-cmp-data-layer="{&#34;languagenavigation-e411fdc67f&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/languagenavigation&#34;}}"
  id="languagenavigation-e411fdc67f"
  class="cmp-languagenavigation"
>
  <ul class="cmp-languagenavigation__group">
    <li
      class="cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-US cmp-languagenavigation__item--langcode-en-US cmp-languagenavigation__item--level-0 cmp-languagenavigation__item--active"
      data-cmp-data-layer="{&#34;languagenavigation-e411fdc67f-item-bf8f56f487&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/languagenavigation/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:37Z&#34;,&#34;dc:title&#34;:&#34;English&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/templating/language-navigation/language-structure/us/en/language-navigation.html&#34;}}"
    >
      <a
        data-cmp-clickable
        class="cmp-languagenavigation__item-link"
        hreflang="en-US"
        lang="en-US"
        rel="alternate"
        href="/content/core-components-examples/library/templating/language-navigation/language-structure/us/en/language-navigation.html"
        >English</a
      >
    </li>

    <li
      class="cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-ES cmp-languagenavigation__item--langcode-es-ES cmp-languagenavigation__item--level-0"
      data-cmp-data-layer="{&#34;languagenavigation-e411fdc67f-item-880c07dfb0&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/languagenavigation/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:37Z&#34;,&#34;dc:title&#34;:&#34;Español&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/templating/language-navigation/language-structure/us/es/navegacion-por-idioma.html&#34;}}"
    >
      <a
        data-cmp-clickable
        class="cmp-languagenavigation__item-link"
        hreflang="es-ES"
        lang="es-ES"
        rel="alternate"
        href="/content/core-components-examples/library/templating/language-navigation/language-structure/us/es/language-navigation.html"
        >Español</a
      >
    </li>
  </ul>
</nav>
