<article
  id="contentfragment-a0554d8371"
  class="cmp-contentfragment cmp-contentfragment--adobe-headquarters"
  data-cmp-contentfragment-model="core-components-examples/models/office"
  data-cmp-data-layer="{&#34;contentfragment-a0554d8371&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/contentfragment&#34;,&#34;dc:title&#34;:&#34;Adobe Headquarters&#34;,&#34;elements&#34;:[{&#34;xdm:text&#34;:&#34;Adobe Headquarters&#34;,&#34;xdm:title&#34;:&#34;Title&#34;},{&#34;xdm:text&#34;:&#34;San Jose&#34;,&#34;xdm:title&#34;:&#34;City&#34;}]}}"
  data-cmp-contentfragment-path="/content/dam/core-components-examples/library/sample-assets/adobe-headquarters"
>
  <h3 class="cmp-contentfragment__title">Adobe Headquarters</h3>

  <dl class="cmp-contentfragment__elements">
    <div
      class="cmp-contentfragment__element cmp-contentfragment__element--title"
      data-cmp-contentfragment-element-type="string"
    >
      <dt class="cmp-contentfragment__element-title">Title</dt>
      <dd class="cmp-contentfragment__element-value">Adobe Headquarters</dd>
    </div>

    <div
      class="cmp-contentfragment__element cmp-contentfragment__element--city"
      data-cmp-contentfragment-element-type="string"
    >
      <dt class="cmp-contentfragment__element-title">City</dt>
      <dd class="cmp-contentfragment__element-value">San Jose</dd>
    </div>
  </dl>
</article>
