<article
  id="contentfragment-02fd1a219b"
  class="cmp-contentfragment cmp-contentfragment--adobe-headquarters"
  data-cmp-contentfragment-model="core-components-examples/models/office"
  data-cmp-data-layer="{&#34;contentfragment-02fd1a219b&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/contentfragment&#34;,&#34;dc:title&#34;:&#34;Adobe Headquarters&#34;,&#34;elements&#34;:[{&#34;xdm:text&#34;:&#34;Adobe Headquarters&#34;,&#34;xdm:title&#34;:&#34;Title&#34;},{&#34;xdm:text&#34;:&#34;345 Park Avenue&#34;,&#34;xdm:title&#34;:&#34;Street Address&#34;},{&#34;xdm:text&#34;:&#34;San Jose&#34;,&#34;xdm:title&#34;:&#34;City&#34;},{&#34;xdm:text&#34;:&#34;95110-2704&#34;,&#34;xdm:title&#34;:&#34;Postal Code&#34;},{&#34;xdm:text&#34;:&#34;USA&#34;,&#34;xdm:title&#34;:&#34;Country&#34;},{&#34;xdm:text&#34;:&#34;core-components-examples:region/north-america&#34;,&#34;xdm:title&#34;:&#34;Region&#34;}]}}"
  data-cmp-contentfragment-path="/content/dam/core-components-examples/library/sample-assets/adobe-headquarters"
>
  <h3 class="cmp-contentfragment__title">Adobe Headquarters</h3>

  <dl class="cmp-contentfragment__elements">
    <div
      class="cmp-contentfragment__element cmp-contentfragment__element--title"
      data-cmp-contentfragment-element-type="string"
    >
      <dt class="cmp-contentfragment__element-title">Title</dt>
      <dd class="cmp-contentfragment__element-value">Adobe Headquarters</dd>
    </div>

    <div
      class="cmp-contentfragment__element cmp-contentfragment__element--streetAddress"
      data-cmp-contentfragment-element-type="string"
    >
      <dt class="cmp-contentfragment__element-title">Street Address</dt>
      <dd class="cmp-contentfragment__element-value">345 Park Avenue</dd>
    </div>

    <div
      class="cmp-contentfragment__element cmp-contentfragment__element--city"
      data-cmp-contentfragment-element-type="string"
    >
      <dt class="cmp-contentfragment__element-title">City</dt>
      <dd class="cmp-contentfragment__element-value">San Jose</dd>
    </div>

    <div
      class="cmp-contentfragment__element cmp-contentfragment__element--postalCode"
      data-cmp-contentfragment-element-type="string"
    >
      <dt class="cmp-contentfragment__element-title">Postal Code</dt>
      <dd class="cmp-contentfragment__element-value">95110-2704</dd>
    </div>

    <div
      class="cmp-contentfragment__element cmp-contentfragment__element--country"
      data-cmp-contentfragment-element-type="string"
    >
      <dt class="cmp-contentfragment__element-title">Country</dt>
      <dd class="cmp-contentfragment__element-value">USA</dd>
    </div>

    <div
      class="cmp-contentfragment__element cmp-contentfragment__element--region"
      data-cmp-contentfragment-element-type="string"
    >
      <dt class="cmp-contentfragment__element-title">Region</dt>
      <dd class="cmp-contentfragment__element-value">
        core-components-examples:region/north-america
      </dd>
    </div>
  </dl>
</article>
