<article
  id="contentfragment-00ec5c35f4"
  class="cmp-contentfragment cmp-contentfragment--simple-fragment"
  data-cmp-contentfragment-model="/content/dam/core-components-examples/library/sample-assets/simple-fragment/jcr:content/model"
  data-cmp-data-layer="{&#34;contentfragment-00ec5c35f4&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/contentfragment&#34;,&#34;dc:title&#34;:&#34;Simple Fragment&#34;,&#34;elements&#34;:[{&#34;xdm:text&#34;:&#34;&lt;h3>Lorem Ipsum&lt;/h3>\n&lt;p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.&lt;/p>\n&#34;,&#34;xdm:title&#34;:&#34;Main&#34;}]}}"
  data-cmp-contentfragment-path="/content/dam/core-components-examples/library/sample-assets/simple-fragment"
>
  <h3 class="cmp-contentfragment__title">Simple Fragment</h3>

  <dl class="cmp-contentfragment__elements">
    <div
      class="cmp-contentfragment__element cmp-contentfragment__element--main"
      data-cmp-contentfragment-element-type="string"
    >
      <dt class="cmp-contentfragment__element-title">Main</dt>
      <dd class="cmp-contentfragment__element-value">
        <h3>Lorem Ipsum</h3>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </dd>
    </div>
  </dl>
</article>
