<div
  class="cmp-pdfviewer"
  id="pdfviewer-97a46bd902"
  data-cmp-is="pdfviewer"
  data-cmp-client-id="28b07c6be4d544f188dc2f36e33b196b"
  data-cmp-document-path="/content/dam/core-components-examples/library/sample-assets/Bodea Brochure.pdf"
  data-cmp-document-file-name="Bodea Brochure.pdf"
  data-cmp-viewer-config-json="{&#34;embedMode&#34;:&#34;FULL_WINDOW&#34;,&#34;defaultViewMode&#34;:&#34;FIT_PAGE&#34;,&#34;showAnnotationTools&#34;:false,&#34;showLeftHandPanel&#34;:true,&#34;showPageControls&#34;:true,&#34;dockPageControls&#34;:true,&#34;showDownloadPDF&#34;:true,&#34;showPrintPDF&#34;:true}"
  data-cmp-data-layer="{&#34;pdfviewer-97a46bd902&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/pdfviewer&#34;}}"
>
  <div
    id="pdfviewer-97a46bd902-content"
    class="cmp-pdfviewer__content cmp-pdfviewer__full-window"
  ></div>
</div>
