<div
  class="cmp-pdfviewer"
  id="pdfviewer-98746e7e01"
  data-cmp-is="pdfviewer"
  data-cmp-client-id="28b07c6be4d544f188dc2f36e33b196b"
  data-cmp-document-path="/content/dam/core-components-examples/library/sample-assets/Bodea Brochure.pdf"
  data-cmp-document-file-name="Bodea Brochure.pdf"
  data-cmp-viewer-config-json="{&#34;embedMode&#34;:&#34;IN_LINE&#34;,&#34;showDownloadPDF&#34;:true,&#34;showPrintPDF&#34;:true}"
  data-cmp-data-layer="{&#34;pdfviewer-98746e7e01&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/pdfviewer&#34;}}"
>
  <div
    id="pdfviewer-98746e7e01-content"
    class="cmp-pdfviewer__content cmp-pdfviewer__in-line"
  ></div>
</div>
