<div
  class="cmp-pdfviewer"
  id="pdfviewer-c5f6662102"
  data-cmp-is="pdfviewer"
  data-cmp-client-id="28b07c6be4d544f188dc2f36e33b196b"
  data-cmp-document-path="/content/dam/core-components-examples/library/sample-assets/Bodea Brochure.pdf"
  data-cmp-document-file-name="Bodea Brochure.pdf"
  data-cmp-viewer-config-json="{&#34;embedMode&#34;:&#34;SIZED_CONTAINER&#34;,&#34;showFullScreen&#34;:false,&#34;showPageControls&#34;:false,&#34;dockPageControls&#34;:false,&#34;showDownloadPDF&#34;:true,&#34;showPrintPDF&#34;:true}"
  data-cmp-data-layer="{&#34;pdfviewer-c5f6662102&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/pdfviewer&#34;}}"
>
  <div
    id="pdfviewer-c5f6662102-content"
    class="cmp-pdfviewer__content cmp-pdfviewer__sized-container"
  ></div>
</div>
