<div
  id="carousel-82588fa1c7"
  class="cmp-carousel"
  role="group"
  aria-live="polite"
  aria-roledescription="carousel"
  data-cmp-is="carousel"
  data-cmp-delay="5000"
  data-cmp-data-layer="{&#34;carousel-82588fa1c7&#34;:{&#34;shownItems&#34;:[&#34;carousel-82588fa1c7-item-f9b21b552e&#34;],&#34;@type&#34;:&#34;core-components-examples/components/carousel&#34;}}"
  data-placeholder-text="false"
>
  <div class="cmp-carousel__content" aria-atomic="false" aria-live="polite">
    <div
      id="carousel-82588fa1c7-item-f9b21b552e-tabpanel"
      class="cmp-carousel__item cmp-carousel__item--active"
      role="tabpanel"
      aria-labelledby="carousel-82588fa1c7-item-f9b21b552e-tab"
      aria-roledescription="slide"
      aria-label="Slide 1 of 3"
      data-cmp-data-layer="{&#34;carousel-82588fa1c7-item-f9b21b552e&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/carousel/item&#34;,&#34;dc:title&#34;:&#34;Teaser Title&#34;}}"
      data-cmp-hook-carousel="item"
    >
      <div class="teaser">
        <div
          id="teaser-f9b21b552e"
          class="cmp-teaser"
          data-cmp-data-layer="{&#34;teaser-f9b21b552e&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/teaser&#34;,&#34;dc:title&#34;:&#34;First Teaser Title&#34;,&#34;dc:description&#34;:&#34;&lt;p>Teaser Description&lt;/p>&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/container/carousel.html&#34;}}"
        >
          <a
            class="cmp-teaser__link"
            data-cmp-clickable
            href="/content/core-components-examples/library/container/carousel.html"
          >
            <div class="cmp-teaser__content">
              <h2 class="cmp-teaser__title">First Teaser Title</h2>

              <div class="cmp-teaser__description">
                <p>Teaser Description</p>
              </div>
            </div>

            <div class="cmp-teaser__image">
              <div
                data-cmp-is="image"
                data-cmp-lazythreshold="0"
                data-cmp-src="/content/core-components-examples/library/container/carousel/_jcr_content/root/responsivegrid/demo/component/carousel_8337507762/teaser_720124833.coreimg{.width}.jpeg/1714685439433/lava-into-ocean.jpeg"
                data-asset="/content/dam/core-components-examples/library/sample-assets/lava-into-ocean.jpg"
                data-asset-id="0f54e1b5-535b-45f7-a46b-35abb19dd6bc"
                data-title="Lava flowing into the ocean"
                id="teaser-f9b21b552e-image"
                data-cmp-data-layer="{&#34;teaser-f9b21b552e-image&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/image&#34;,&#34;dc:title&#34;:&#34;Lava flowing into the ocean&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/container/carousel.html&#34;,&#34;image&#34;:{&#34;repo:id&#34;:&#34;0f54e1b5-535b-45f7-a46b-35abb19dd6bc&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:39Z&#34;,&#34;@type&#34;:&#34;image/jpeg&#34;,&#34;repo:path&#34;:&#34;/content/dam/core-components-examples/library/sample-assets/lava-into-ocean.jpg&#34;}}}"
                class="cmp-image"
                itemscope
                itemtype="http://schema.org/ImageObject"
              >
                <a
                  class="cmp-image__link"
                  href="/content/core-components-examples/library/container/carousel.html"
                  data-cmp-clickable
                  data-cmp-hook-image="link"
                >
                  <img
                  src=http://localhost:4502/content/core-components-examples/library/container/carousel/_jcr_content/root/responsivegrid/demo/component/carousel_8337507762/teaser_720124833.coreimg.jpeg/1714685439433/lava-into-ocean.jpeg
                  class="cmp-image__image" itemprop="contentUrl"
                  data-cmp-hook-image="image" alt="Lava flowing into the ocean"
                  title="Lava flowing into the ocean"/>
                </a>

                <meta
                  itemprop="caption"
                  content="Lava flowing into the ocean"
                />
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div
      id="carousel-82588fa1c7-item-7cc66bb6ac-tabpanel"
      class="cmp-carousel__item"
      role="tabpanel"
      aria-labelledby="carousel-82588fa1c7-item-7cc66bb6ac-tab"
      aria-roledescription="slide"
      aria-label="Slide 2 of 3"
      data-cmp-data-layer="{&#34;carousel-82588fa1c7-item-7cc66bb6ac&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/carousel/item&#34;,&#34;dc:title&#34;:&#34;Teaser Title&#34;}}"
      data-cmp-hook-carousel="item"
    >
      <div class="teaser">
        <div
          id="teaser-7cc66bb6ac"
          class="cmp-teaser"
          data-cmp-data-layer="{&#34;teaser-7cc66bb6ac&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/teaser&#34;,&#34;dc:title&#34;:&#34;Second Teaser Title&#34;,&#34;dc:description&#34;:&#34;&lt;p>Teaser Description&lt;/p>&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/container/carousel.html&#34;}}"
        >
          <a
            class="cmp-teaser__link"
            data-cmp-clickable
            href="/content/core-components-examples/library/container/carousel.html"
          >
            <div class="cmp-teaser__content">
              <h2 class="cmp-teaser__title">Second Teaser Title</h2>

              <div class="cmp-teaser__description">
                <p>Teaser Description</p>
              </div>
            </div>

            <div class="cmp-teaser__image">
              <div
                data-cmp-is="image"
                data-cmp-lazythreshold="0"
                data-cmp-src="/content/core-components-examples/library/container/carousel/_jcr_content/root/responsivegrid/demo/component/carousel_8337507762/teaser_841933659.coreimg{.width}.jpeg/1714685439665/snowy-mountain-glacier.jpeg"
                data-asset="/content/dam/core-components-examples/library/sample-assets/snowy-mountain-glacier.jpg"
                data-asset-id="45c6ee92-90e1-4af2-af69-b6dcbc7daeb7"
                data-title="Snowy mountain glacier"
                id="teaser-7cc66bb6ac-image"
                data-cmp-data-layer="{&#34;teaser-7cc66bb6ac-image&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/image&#34;,&#34;dc:title&#34;:&#34;Snowy mountain glacier&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/container/carousel.html&#34;,&#34;image&#34;:{&#34;repo:id&#34;:&#34;45c6ee92-90e1-4af2-af69-b6dcbc7daeb7&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:39Z&#34;,&#34;@type&#34;:&#34;image/jpeg&#34;,&#34;repo:path&#34;:&#34;/content/dam/core-components-examples/library/sample-assets/snowy-mountain-glacier.jpg&#34;}}}"
                class="cmp-image"
                itemscope
                itemtype="http://schema.org/ImageObject"
              >
                <a
                  class="cmp-image__link"
                  href="/content/core-components-examples/library/container/carousel.html"
                  data-cmp-clickable
                  data-cmp-hook-image="link"
                >
                  <img
                  src=http://localhost:4502/content/core-components-examples/library/container/carousel/_jcr_content/root/responsivegrid/demo/component/carousel_8337507762/teaser_841933659.coreimg.jpeg/1714685439665/snowy-mountain-glacier.jpeg
                  class="cmp-image__image" itemprop="contentUrl"
                  data-cmp-hook-image="image" alt="Snowy mountain glacier"
                  title="Snowy mountain glacier"/>
                </a>

                <meta itemprop="caption" content="Snowy mountain glacier" />
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div
      id="carousel-82588fa1c7-item-5c64a9c179-tabpanel"
      class="cmp-carousel__item"
      role="tabpanel"
      aria-labelledby="carousel-82588fa1c7-item-5c64a9c179-tab"
      aria-roledescription="slide"
      aria-label="Slide 3 of 3"
      data-cmp-data-layer="{&#34;carousel-82588fa1c7-item-5c64a9c179&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/carousel/item&#34;,&#34;dc:title&#34;:&#34;Teaser Title&#34;}}"
      data-cmp-hook-carousel="item"
    >
      <div class="teaser">
        <div
          id="teaser-5c64a9c179"
          class="cmp-teaser"
          data-cmp-data-layer="{&#34;teaser-5c64a9c179&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/teaser&#34;,&#34;dc:title&#34;:&#34;Third Teaser Title&#34;,&#34;dc:description&#34;:&#34;&lt;p>Teaser Description&lt;/p>&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/container/carousel.html&#34;}}"
        >
          <a
            class="cmp-teaser__link"
            data-cmp-clickable
            href="/content/core-components-examples/library/container/carousel.html"
          >
            <div class="cmp-teaser__content">
              <h2 class="cmp-teaser__title">Third Teaser Title</h2>

              <div class="cmp-teaser__description">
                <p>Teaser Description</p>
              </div>
            </div>

            <div class="cmp-teaser__image">
              <div
                data-cmp-is="image"
                data-cmp-lazythreshold="0"
                data-cmp-src="/content/core-components-examples/library/container/carousel/_jcr_content/root/responsivegrid/demo/component/carousel_8337507762/teaser.coreimg{.width}.jpeg/1714685441592/lava-rock-formation.jpeg"
                data-asset="/content/dam/core-components-examples/library/sample-assets/lava-rock-formation.jpg"
                data-asset-id="c58c09f6-e382-4698-bfbd-e8c8d37712c8"
                data-title="Gray lava rock formation"
                id="teaser-5c64a9c179-image"
                data-cmp-data-layer="{&#34;teaser-5c64a9c179-image&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/image&#34;,&#34;dc:title&#34;:&#34;Gray lava rock formation&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/container/carousel.html&#34;,&#34;image&#34;:{&#34;repo:id&#34;:&#34;c58c09f6-e382-4698-bfbd-e8c8d37712c8&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:41Z&#34;,&#34;@type&#34;:&#34;image/jpeg&#34;,&#34;repo:path&#34;:&#34;/content/dam/core-components-examples/library/sample-assets/lava-rock-formation.jpg&#34;}}}"
                class="cmp-image"
                itemscope
                itemtype="http://schema.org/ImageObject"
              >
                <a
                  class="cmp-image__link"
                  href="/content/core-components-examples/library/container/carousel.html"
                  data-cmp-clickable
                  data-cmp-hook-image="link"
                >
                  <img
                  src=http://localhost:4502/content/core-components-examples/library/container/carousel/_jcr_content/root/responsivegrid/demo/component/carousel_8337507762/teaser.coreimg.jpeg/1714685441592/lava-rock-formation.jpeg
                  class="cmp-image__image" itemprop="contentUrl"
                  data-cmp-hook-image="image" alt="Gray lava rock formation"
                  title="Gray lava rock formation"/>
                </a>

                <meta itemprop="caption" content="Gray lava rock formation" />
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="cmp-carousel__actions">
      <button
        class="cmp-carousel__action cmp-carousel__action--previous"
        type="button"
        aria-label="Previous"
        data-cmp-hook-carousel="previous"
      >
        <span class="cmp-carousel__action-icon"></span>
        <span class="cmp-carousel__action-text">Previous</span>
      </button>
      <button
        class="cmp-carousel__action cmp-carousel__action--next"
        type="button"
        aria-label="Next"
        data-cmp-hook-carousel="next"
      >
        <span class="cmp-carousel__action-icon"></span>
        <span class="cmp-carousel__action-text">Next</span>
      </button>
    </div>

    <ol
      class="cmp-carousel__indicators"
      role="tablist"
      aria-label="Choose a slide to display"
      data-cmp-hook-carousel="indicators"
    >
      <li
        id="carousel-82588fa1c7-item-f9b21b552e-tab"
        class="cmp-carousel__indicator cmp-carousel__indicator--active"
        role="tab"
        aria-controls="carousel-82588fa1c7-item-f9b21b552e-tabpanel"
        aria-label="Slide 1"
        data-cmp-hook-carousel="indicator"
      >
        Teaser Title
      </li>
      <li
        id="carousel-82588fa1c7-item-7cc66bb6ac-tab"
        class="cmp-carousel__indicator"
        role="tab"
        aria-controls="carousel-82588fa1c7-item-7cc66bb6ac-tabpanel"
        aria-label="Slide 2"
        data-cmp-hook-carousel="indicator"
      >
        Teaser Title
      </li>
      <li
        id="carousel-82588fa1c7-item-5c64a9c179-tab"
        class="cmp-carousel__indicator"
        role="tab"
        aria-controls="carousel-82588fa1c7-item-5c64a9c179-tabpanel"
        aria-label="Slide 3"
        data-cmp-hook-carousel="indicator"
      >
        Teaser Title
      </li>
    </ol>
  </div>
</div>
