<div
  data-cmp-data-layer="{&#34;text-d7f5d18c60&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/text&#34;,&#34;xdm:text&#34;:&#34;&lt;ul>&lt;li>List item&lt;/li>&lt;li>List item&lt;/li>&lt;li>List item&lt;/li>&lt;li>List item&lt;/li>&lt;/ul>&lt;p>&amp;nbsp;&lt;/p>&lt;ol>&lt;li>List Item 1&lt;/li>&lt;li>List Item 2&lt;/li>&lt;li>List item 3&lt;/li>&lt;li>List item 4&lt;/li>&lt;/ol>&#34;}}"
  id="text-d7f5d18c60"
  class="cmp-text"
>
  <ul>
    <li>List item</li>
    <li>List item</li>
    <li>List item</li>
    <li>List item</li>
  </ul>
  <p> </p>
  <ol>
    <li>List Item 1</li>
    <li>List Item 2</li>
    <li>List item 3</li>
    <li>List item 4</li>
  </ol>
</div>
