<div
  data-cmp-data-layer="{&#34;text-2d9d50c5a7&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/text&#34;,&#34;xdm:text&#34;:&#34;&lt;p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu mi bibendum neque egestas congue quisque egestas. Varius morbi enim nunc faucibus a pellentesque. Scelerisque eleifend donec pretium vulputate sapien nec sagittis.&lt;/p>&#34;}}"
  id="text-2d9d50c5a7"
  class="cmp-text"
>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Eu mi bibendum neque
    egestas congue quisque egestas. Varius morbi enim nunc faucibus a
    pellentesque. Scelerisque eleifend donec pretium vulputate sapien nec
    sagittis.
  </p>
</div>
