<div
  data-cmp-data-layer="{&#34;text-6ecfe1f00f&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/text&#34;,&#34;xdm:text&#34;:&#34;&lt;table cellpadding=\&#34;5\&#34; cellspacing=\&#34;0\&#34; border=\&#34;1\&#34;>&lt;tbody>&lt;tr>&lt;td>Column 1&lt;/td>&lt;td>Column 2&lt;/td>&lt;td>Column 3&lt;/td>&lt;td>Column 4&lt;/td>&lt;/tr>&lt;tr>&lt;td>&amp;nbsp;&lt;/td>&lt;td>&amp;nbsp;&lt;/td>&lt;td>&amp;nbsp;&lt;/td>&lt;td>&amp;nbsp;&lt;/td>&lt;/tr>&lt;tr>&lt;td>&amp;nbsp;&lt;/td>&lt;td>&amp;nbsp;&lt;/td>&lt;td>&amp;nbsp;&lt;/td>&lt;td>&amp;nbsp;&lt;/td>&lt;/tr>&lt;tr>&lt;td>&amp;nbsp;&lt;/td>&lt;td>&amp;nbsp;&lt;/td>&lt;td>&amp;nbsp;&lt;/td>&lt;td>&amp;nbsp;&lt;/td>&lt;/tr>&lt;tr>&lt;td>&amp;nbsp;&lt;/td>&lt;td>&amp;nbsp;&lt;/td>&lt;td>&amp;nbsp;&lt;/td>&lt;td>&amp;nbsp;&lt;/td>&lt;/tr>&lt;tr>&lt;td>&amp;nbsp;&lt;/td>&lt;td>&amp;nbsp;&lt;/td>&lt;td>&amp;nbsp;&lt;/td>&lt;td>&amp;nbsp;&lt;/td>&lt;/tr>&lt;/tbody>&lt;/table>&#34;}}"
  id="text-6ecfe1f00f"
  class="cmp-text"
>
  <table cellpadding="5" cellspacing="0" border="1">
    <tbody>
      <tr>
        <td>Column 1</td>
        <td>Column 2</td>
        <td>Column 3</td>
        <td>Column 4</td>
      </tr>
      <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
      </tr>
      <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
      </tr>
      <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
      </tr>
      <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
      </tr>
      <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
      </tr>
    </tbody>
  </table>
</div>
