<div
  data-cmp-data-layer="{&#34;text-6d91c6d9a4&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/text&#34;,&#34;xdm:text&#34;:&#34;&lt;p>&lt;b>Bold &lt;/b>can be used to emphasize a word or phrase, as can &lt;u>underline&lt;/u> and &lt;i>italics.&amp;nbsp;&lt;/i>&lt;sup>Superscript&lt;/sup> and &lt;sub>subscript&lt;/sub> are useful for mathematical (E = mc&lt;sup>2&lt;/sup>) or scientific (h&lt;sub>2&lt;/sub>O) expressions. Paragraph styles can provide alternative renderings, such as quote sections:&lt;/p>&lt;blockquote>&amp;quot;&lt;i>Be yourself; everyone else is already taken&amp;quot;&lt;/i>&lt;/blockquote>&lt;blockquote>- Oscar Wilde&lt;/blockquote>&#34;}}"
  id="text-6d91c6d9a4"
  class="cmp-text"
>
  <p>
    <b>Bold </b>can be used to emphasize a word or phrase, as can
    <u>underline</u> and <i>italics. </i><sup>Superscript</sup> and
    <sub>subscript</sub> are useful for mathematical (E = mc<sup>2</sup>) or
    scientific (h<sub>2</sub>O) expressions. Paragraph styles can provide
    alternative renderings, such as quote sections:
  </p>
  <blockquote>
    &quot;<i>Be yourself; everyone else is already taken&quot;</i>
  </blockquote>
  <blockquote>- Oscar Wilde</blockquote>
</div>
