<nav
  id="navigation-405e4e72cb"
  class="cmp-navigation"
  itemscope
  itemtype="http://schema.org/SiteNavigationElement"
  data-cmp-data-layer="{&#34;navigation-405e4e72cb&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/navigation&#34;}}"
  aria-label="Secondary Navigation"
>
  <ul class="cmp-navigation__group">
    <li
      class="cmp-navigation__item cmp-navigation__item--level-0 cmp-navigation__item--active"
      data-cmp-data-layer="{&#34;navigation-405e4e72cb-item-a15ec9918d&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/navigation/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:37Z&#34;,&#34;dc:title&#34;:&#34;Navigation&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/templating/navigation.html&#34;}}"
    >
      <a
        aria-current="page"
        data-cmp-clickable
        class="cmp-navigation__item-link"
        href="/content/core-components-examples/library/templating/navigation.html"
        >Navigation</a
      >
    </li>

    <li
      class="cmp-navigation__item cmp-navigation__item--level-0"
      data-cmp-data-layer="{&#34;navigation-405e4e72cb-item-e628106fe1&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/navigation/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:37Z&#34;,&#34;dc:title&#34;:&#34;Language Navigation&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/templating/language-navigation/language-structure/us/en/language-navigation.html&#34;}}"
    >
      <a
        data-cmp-clickable
        class="cmp-navigation__item-link"
        href="/content/core-components-examples/library/templating/language-navigation/language-structure/us/en/language-navigation.html"
        >Language Navigation</a
      >
    </li>

    <li
      class="cmp-navigation__item cmp-navigation__item--level-0"
      data-cmp-data-layer="{&#34;navigation-405e4e72cb-item-35671d6884&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/navigation/item&#34;,&#34;dc:title&#34;:&#34;Breadcrumb&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/templating/breadcrumb/hidden/level-1/level-2/breadcrumb.html&#34;}}"
    >
      <a
        data-cmp-clickable
        class="cmp-navigation__item-link"
        href="/content/core-components-examples/library/templating/breadcrumb/hidden/level-1/level-2/breadcrumb.html"
        >Breadcrumb</a
      >
    </li>
  </ul>
</nav>
