<nav
  id="navigation-5a057c20a4"
  class="cmp-navigation"
  itemscope
  itemtype="http://schema.org/SiteNavigationElement"
  data-cmp-data-layer="{&#34;navigation-5a057c20a4&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/navigation&#34;}}"
>
  <ul class="cmp-navigation__group">
    <li
      class="cmp-navigation__item cmp-navigation__item--level-0 cmp-navigation__item--active"
      data-cmp-data-layer="{&#34;navigation-5a057c20a4-item-9bee4d4454&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/navigation/item&#34;,&#34;repo:modifyDate&#34;:&#34;2021-09-17T20:37:43Z&#34;,&#34;dc:title&#34;:&#34;Component Library&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library.html&#34;}}"
    >
      <a
        data-cmp-clickable
        class="cmp-navigation__item-link"
        href="/content/core-components-examples/library.html"
        >Component Library</a
      >

      <ul class="cmp-navigation__group">
        <li
          class="cmp-navigation__item cmp-navigation__item--level-1 cmp-navigation__item--active"
          data-cmp-data-layer="{&#34;navigation-5a057c20a4-item-1d32a567a9&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/navigation/item&#34;,&#34;dc:title&#34;:&#34;Component Library&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library.html&#34;}}"
        >
          <a
            data-cmp-clickable
            class="cmp-navigation__item-link"
            href="/content/core-components-examples/library.html"
            >Component Library</a
          >

          <ul class="cmp-navigation__group">
            <li
              class="cmp-navigation__item cmp-navigation__item--level-2 cmp-navigation__item--active"
              data-cmp-data-layer="{&#34;navigation-5a057c20a4-item-a15ec9918d&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/navigation/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:37Z&#34;,&#34;dc:title&#34;:&#34;Navigation&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/templating/navigation.html&#34;}}"
            >
              <a
                aria-current="page"
                data-cmp-clickable
                class="cmp-navigation__item-link"
                href="/content/core-components-examples/library/templating/navigation.html"
                >Navigation</a
              >
            </li>

            <li
              class="cmp-navigation__item cmp-navigation__item--level-2"
              data-cmp-data-layer="{&#34;navigation-5a057c20a4-item-e628106fe1&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/navigation/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:37Z&#34;,&#34;dc:title&#34;:&#34;Language Navigation&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/templating/language-navigation/language-structure/us/en/language-navigation.html&#34;}}"
            >
              <a
                data-cmp-clickable
                class="cmp-navigation__item-link"
                href="/content/core-components-examples/library/templating/language-navigation/language-structure/us/en/language-navigation.html"
                >Language Navigation</a
              >
            </li>

            <li
              class="cmp-navigation__item cmp-navigation__item--level-2"
              data-cmp-data-layer="{&#34;navigation-5a057c20a4-item-35671d6884&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/navigation/item&#34;,&#34;dc:title&#34;:&#34;Breadcrumb&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/templating/breadcrumb/hidden/level-1/level-2/breadcrumb.html&#34;}}"
            >
              <a
                data-cmp-clickable
                class="cmp-navigation__item-link"
                href="/content/core-components-examples/library/templating/breadcrumb/hidden/level-1/level-2/breadcrumb.html"
                >Breadcrumb</a
              >
            </li>
          </ul>
        </li>

        <li
          class="cmp-navigation__item cmp-navigation__item--level-1"
          data-cmp-data-layer="{&#34;navigation-5a057c20a4-item-a0e12c193c&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/navigation/item&#34;,&#34;dc:title&#34;:&#34;Component Library&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library.html&#34;}}"
        >
          <a
            data-cmp-clickable
            class="cmp-navigation__item-link"
            href="/content/core-components-examples/library.html"
            >Component Library</a
          >

          <ul class="cmp-navigation__group">
            <li
              class="cmp-navigation__item cmp-navigation__item--level-2"
              data-cmp-data-layer="{&#34;navigation-5a057c20a4-item-df1699a779&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/navigation/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:36Z&#34;,&#34;dc:title&#34;:&#34;Title&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/page-authoring/title.html&#34;}}"
            >
              <a
                data-cmp-clickable
                class="cmp-navigation__item-link"
                href="/content/core-components-examples/library/page-authoring/title.html"
                >Title</a
              >
            </li>

            <li
              class="cmp-navigation__item cmp-navigation__item--level-2"
              data-cmp-data-layer="{&#34;navigation-5a057c20a4-item-e13089bf3b&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/navigation/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:36Z&#34;,&#34;dc:title&#34;:&#34;Text&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/page-authoring/text.html&#34;}}"
            >
              <a
                data-cmp-clickable
                class="cmp-navigation__item-link"
                href="/content/core-components-examples/library/page-authoring/text.html"
                >Text</a
              >
            </li>

            <li
              class="cmp-navigation__item cmp-navigation__item--level-2"
              data-cmp-data-layer="{&#34;navigation-5a057c20a4-item-26f940ec0f&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/navigation/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:37Z&#34;,&#34;dc:title&#34;:&#34;Image&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/page-authoring/image.html&#34;}}"
            >
              <a
                data-cmp-clickable
                class="cmp-navigation__item-link"
                href="/content/core-components-examples/library/page-authoring/image.html"
                >Image</a
              >
            </li>

            <li
              class="cmp-navigation__item cmp-navigation__item--level-2"
              data-cmp-data-layer="{&#34;navigation-5a057c20a4-item-5ce5bb112c&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/navigation/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:37Z&#34;,&#34;dc:title&#34;:&#34;Button&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/page-authoring/button.html&#34;}}"
            >
              <a
                data-cmp-clickable
                class="cmp-navigation__item-link"
                href="/content/core-components-examples/library/page-authoring/button.html"
                >Button</a
              >
            </li>

            <li
              class="cmp-navigation__item cmp-navigation__item--level-2"
              data-cmp-data-layer="{&#34;navigation-5a057c20a4-item-bd937d6b13&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/navigation/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:36Z&#34;,&#34;dc:title&#34;:&#34;Teaser&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/page-authoring/teaser.html&#34;}}"
            >
              <a
                data-cmp-clickable
                class="cmp-navigation__item-link"
                href="/content/core-components-examples/library/page-authoring/teaser.html"
                >Teaser</a
              >
            </li>

            <li
              class="cmp-navigation__item cmp-navigation__item--level-2"
              data-cmp-data-layer="{&#34;navigation-5a057c20a4-item-d911db0f45&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/navigation/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:36Z&#34;,&#34;dc:title&#34;:&#34;Download&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/page-authoring/download.html&#34;}}"
            >
              <a
                data-cmp-clickable
                class="cmp-navigation__item-link"
                href="/content/core-components-examples/library/page-authoring/download.html"
                >Download</a
              >
            </li>

            <li
              class="cmp-navigation__item cmp-navigation__item--level-2"
              data-cmp-data-layer="{&#34;navigation-5a057c20a4-item-da73ac8b3b&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/navigation/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:37Z&#34;,&#34;dc:title&#34;:&#34;List&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/page-authoring/list.html&#34;}}"
            >
              <a
                data-cmp-clickable
                class="cmp-navigation__item-link"
                href="/content/core-components-examples/library/page-authoring/list.html"
                >List</a
              >
            </li>

            <li
              class="cmp-navigation__item cmp-navigation__item--level-2"
              data-cmp-data-layer="{&#34;navigation-5a057c20a4-item-849883059f&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/navigation/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:37Z&#34;,&#34;dc:title&#34;:&#34;Experience Fragment&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/page-authoring/experience-fragment.html&#34;}}"
            >
              <a
                data-cmp-clickable
                class="cmp-navigation__item-link"
                href="/content/core-components-examples/library/page-authoring/experience-fragment.html"
                >Experience Fragment</a
              >
            </li>

            <li
              class="cmp-navigation__item cmp-navigation__item--level-2"
              data-cmp-data-layer="{&#34;navigation-5a057c20a4-item-12f115629d&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/navigation/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:36Z&#34;,&#34;dc:title&#34;:&#34;Content Fragment&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/page-authoring/content-fragment.html&#34;}}"
            >
              <a
                data-cmp-clickable
                class="cmp-navigation__item-link"
                href="/content/core-components-examples/library/page-authoring/content-fragment.html"
                >Content Fragment</a
              >
            </li>

            <li
              class="cmp-navigation__item cmp-navigation__item--level-2"
              data-cmp-data-layer="{&#34;navigation-5a057c20a4-item-f48a790a96&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/navigation/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:36Z&#34;,&#34;dc:title&#34;:&#34;Content Fragment List&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/page-authoring/content-fragment-list.html&#34;}}"
            >
              <a
                data-cmp-clickable
                class="cmp-navigation__item-link"
                href="/content/core-components-examples/library/page-authoring/content-fragment-list.html"
                >Content Fragment List</a
              >
            </li>

            <li
              class="cmp-navigation__item cmp-navigation__item--level-2"
              data-cmp-data-layer="{&#34;navigation-5a057c20a4-item-12fc929c8a&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/navigation/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:36Z&#34;,&#34;dc:title&#34;:&#34;Embed&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/page-authoring/embed.html&#34;}}"
            >
              <a
                data-cmp-clickable
                class="cmp-navigation__item-link"
                href="/content/core-components-examples/library/page-authoring/embed.html"
                >Embed</a
              >
            </li>

            <li
              class="cmp-navigation__item cmp-navigation__item--level-2"
              data-cmp-data-layer="{&#34;navigation-5a057c20a4-item-9f8160f4bd&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/navigation/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:36Z&#34;,&#34;dc:title&#34;:&#34;PDF Viewer&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/page-authoring/pdf-viewer.html&#34;}}"
            >
              <a
                data-cmp-clickable
                class="cmp-navigation__item-link"
                href="/content/core-components-examples/library/page-authoring/pdf-viewer.html"
                >PDF Viewer</a
              >
            </li>

            <li
              class="cmp-navigation__item cmp-navigation__item--level-2"
              data-cmp-data-layer="{&#34;navigation-5a057c20a4-item-5cc306b231&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/navigation/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:36Z&#34;,&#34;dc:title&#34;:&#34;Progress Bar&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/page-authoring/progressbar.html&#34;}}"
            >
              <a
                data-cmp-clickable
                class="cmp-navigation__item-link"
                href="/content/core-components-examples/library/page-authoring/progressbar.html"
                >Progress Bar</a
              >
            </li>

            <li
              class="cmp-navigation__item cmp-navigation__item--level-2"
              data-cmp-data-layer="{&#34;navigation-5a057c20a4-item-db5309eae3&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/navigation/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:37Z&#34;,&#34;dc:title&#34;:&#34;Social Sharing&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/page-authoring/social-sharing.html&#34;}}"
            >
              <a
                data-cmp-clickable
                class="cmp-navigation__item-link"
                href="/content/core-components-examples/library/page-authoring/social-sharing.html"
                >Social Sharing</a
              >
            </li>

            <li
              class="cmp-navigation__item cmp-navigation__item--level-2"
              data-cmp-data-layer="{&#34;navigation-5a057c20a4-item-611486886f&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/navigation/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:36Z&#34;,&#34;dc:title&#34;:&#34;Separator&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/page-authoring/separator.html&#34;}}"
            >
              <a
                data-cmp-clickable
                class="cmp-navigation__item-link"
                href="/content/core-components-examples/library/page-authoring/separator.html"
                >Separator</a
              >
            </li>
          </ul>
        </li>

        <li
          class="cmp-navigation__item cmp-navigation__item--level-1"
          data-cmp-data-layer="{&#34;navigation-5a057c20a4-item-a66590213e&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/navigation/item&#34;,&#34;dc:title&#34;:&#34;Component Library&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library.html&#34;}}"
        >
          <a
            data-cmp-clickable
            class="cmp-navigation__item-link"
            href="/content/core-components-examples/library.html"
            >Component Library</a
          >

          <ul class="cmp-navigation__group">
            <li
              class="cmp-navigation__item cmp-navigation__item--level-2"
              data-cmp-data-layer="{&#34;navigation-5a057c20a4-item-9caf5e2f9d&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/navigation/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:36Z&#34;,&#34;dc:title&#34;:&#34;Container&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/container/container.html&#34;}}"
            >
              <a
                data-cmp-clickable
                class="cmp-navigation__item-link"
                href="/content/core-components-examples/library/container/container.html"
                >Container</a
              >
            </li>

            <li
              class="cmp-navigation__item cmp-navigation__item--level-2"
              data-cmp-data-layer="{&#34;navigation-5a057c20a4-item-b0a08e7237&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/navigation/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:36Z&#34;,&#34;dc:title&#34;:&#34;Carousel&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/container/carousel.html&#34;}}"
            >
              <a
                data-cmp-clickable
                class="cmp-navigation__item-link"
                href="/content/core-components-examples/library/container/carousel.html"
                >Carousel</a
              >
            </li>

            <li
              class="cmp-navigation__item cmp-navigation__item--level-2"
              data-cmp-data-layer="{&#34;navigation-5a057c20a4-item-7672511d00&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/navigation/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:36Z&#34;,&#34;dc:title&#34;:&#34;Tabs&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/container/tabs.html&#34;}}"
            >
              <a
                data-cmp-clickable
                class="cmp-navigation__item-link"
                href="/content/core-components-examples/library/container/tabs.html"
                >Tabs</a
              >
            </li>

            <li
              class="cmp-navigation__item cmp-navigation__item--level-2"
              data-cmp-data-layer="{&#34;navigation-5a057c20a4-item-b4c899a5ef&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/navigation/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:36Z&#34;,&#34;dc:title&#34;:&#34;Accordion&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/container/accordion.html&#34;}}"
            >
              <a
                data-cmp-clickable
                class="cmp-navigation__item-link"
                href="/content/core-components-examples/library/container/accordion.html"
                >Accordion</a
              >
            </li>
          </ul>
        </li>

        <li
          class="cmp-navigation__item cmp-navigation__item--level-1"
          data-cmp-data-layer="{&#34;navigation-5a057c20a4-item-e0564bed01&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/navigation/item&#34;,&#34;dc:title&#34;:&#34;Component Library&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library.html&#34;}}"
        >
          <a
            data-cmp-clickable
            class="cmp-navigation__item-link"
            href="/content/core-components-examples/library.html"
            >Component Library</a
          >

          <ul class="cmp-navigation__group">
            <li
              class="cmp-navigation__item cmp-navigation__item--level-2"
              data-cmp-data-layer="{&#34;navigation-5a057c20a4-item-4f978b47d0&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/navigation/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:37Z&#34;,&#34;dc:title&#34;:&#34;Container&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/form/container.html&#34;}}"
            >
              <a
                data-cmp-clickable
                class="cmp-navigation__item-link"
                href="/content/core-components-examples/library/form/container.html"
                >Container</a
              >
            </li>

            <li
              class="cmp-navigation__item cmp-navigation__item--level-2"
              data-cmp-data-layer="{&#34;navigation-5a057c20a4-item-e01425b0b2&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/navigation/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:37Z&#34;,&#34;dc:title&#34;:&#34;Input&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/form/input.html&#34;}}"
            >
              <a
                data-cmp-clickable
                class="cmp-navigation__item-link"
                href="/content/core-components-examples/library/form/input.html"
                >Input</a
              >
            </li>

            <li
              class="cmp-navigation__item cmp-navigation__item--level-2"
              data-cmp-data-layer="{&#34;navigation-5a057c20a4-item-6e625a09fd&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/navigation/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:37Z&#34;,&#34;dc:title&#34;:&#34;Options&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/form/options.html&#34;}}"
            >
              <a
                data-cmp-clickable
                class="cmp-navigation__item-link"
                href="/content/core-components-examples/library/form/options.html"
                >Options</a
              >
            </li>

            <li
              class="cmp-navigation__item cmp-navigation__item--level-2"
              data-cmp-data-layer="{&#34;navigation-5a057c20a4-item-ac38626e6c&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/navigation/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:37Z&#34;,&#34;dc:title&#34;:&#34;Hidden&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/form/hidden.html&#34;}}"
            >
              <a
                data-cmp-clickable
                class="cmp-navigation__item-link"
                href="/content/core-components-examples/library/form/hidden.html"
                >Hidden</a
              >
            </li>

            <li
              class="cmp-navigation__item cmp-navigation__item--level-2"
              data-cmp-data-layer="{&#34;navigation-5a057c20a4-item-eaedd4ea75&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/navigation/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:37Z&#34;,&#34;dc:title&#34;:&#34;Button&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/form/button.html&#34;}}"
            >
              <a
                data-cmp-clickable
                class="cmp-navigation__item-link"
                href="/content/core-components-examples/library/form/button.html"
                >Button</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</nav>
