<nav
  id="navigation-435d0661e7"
  class="cmp-navigation"
  itemscope
  itemtype="http://schema.org/SiteNavigationElement"
  data-cmp-data-layer="{&#34;navigation-435d0661e7&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/navigation&#34;}}"
>
  <ul class="cmp-navigation__group">
    <li
      class="cmp-navigation__item cmp-navigation__item--level-0 cmp-navigation__item--active"
      data-cmp-data-layer="{&#34;navigation-435d0661e7-item-1d32a567a9&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/navigation/item&#34;,&#34;dc:title&#34;:&#34;Component Library&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library.html&#34;}}"
    >
      <a
        data-cmp-clickable
        class="cmp-navigation__item-link"
        href="/content/core-components-examples/library.html"
        >Component Library</a
      >
    </li>

    <li
      class="cmp-navigation__item cmp-navigation__item--level-0"
      data-cmp-data-layer="{&#34;navigation-435d0661e7-item-a0e12c193c&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/navigation/item&#34;,&#34;dc:title&#34;:&#34;Component Library&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library.html&#34;}}"
    >
      <a
        data-cmp-clickable
        class="cmp-navigation__item-link"
        href="/content/core-components-examples/library.html"
        >Component Library</a
      >
    </li>

    <li
      class="cmp-navigation__item cmp-navigation__item--level-0"
      data-cmp-data-layer="{&#34;navigation-435d0661e7-item-a66590213e&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/navigation/item&#34;,&#34;dc:title&#34;:&#34;Component Library&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library.html&#34;}}"
    >
      <a
        data-cmp-clickable
        class="cmp-navigation__item-link"
        href="/content/core-components-examples/library.html"
        >Component Library</a
      >
    </li>

    <li
      class="cmp-navigation__item cmp-navigation__item--level-0"
      data-cmp-data-layer="{&#34;navigation-435d0661e7-item-e0564bed01&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/navigation/item&#34;,&#34;dc:title&#34;:&#34;Component Library&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library.html&#34;}}"
    >
      <a
        data-cmp-clickable
        class="cmp-navigation__item-link"
        href="/content/core-components-examples/library.html"
        >Component Library</a
      >
    </li>
  </ul>
</nav>
