<div
  id="experiencefragment-fe1a326f86"
  class="cmp-experiencefragment cmp-experiencefragment--simple-experience-fragment"
>
  <link rel="stylesheet"
  href=http://localhost:4502/libs/cq/experience-fragments/components/xfpage/content.min.css
  type="text/css">

  <div class="xf-content-height">
    <div class="aem-Grid aem-Grid--12 aem-Grid--default--12">
      <div class="text aem-GridColumn aem-GridColumn--default--12">
        <div
          data-cmp-data-layer="{&#34;text-cda7d0867d&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/text&#34;,&#34;xdm:text&#34;:&#34;&lt;p>Lava forming some rock.&lt;/p>&#34;}}"
          id="text-cda7d0867d"
          class="cmp-text"
        >
          <p>Lava forming some rock.</p>
        </div>
      </div>
      <div class="image aem-GridColumn aem-GridColumn--default--12">
        <div
          data-cmp-is="image"
          data-cmp-lazythreshold="0"
          data-cmp-src="/content/experience-fragments/core-components-examples/library/simple-experience-fragment/master/_jcr_content/root/image.coreimg{.width}.jpeg/1714685441592/lava-rock-formation.jpeg"
          data-asset="/content/dam/core-components-examples/library/sample-assets/lava-rock-formation.jpg"
          data-asset-id="c58c09f6-e382-4698-bfbd-e8c8d37712c8"
          data-title="Gray lava rock formation"
          id="image-83bac327b9"
          data-cmp-data-layer="{&#34;image-83bac327b9&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/image&#34;,&#34;dc:title&#34;:&#34;Gray lava rock formation&#34;,&#34;image&#34;:{&#34;repo:id&#34;:&#34;c58c09f6-e382-4698-bfbd-e8c8d37712c8&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:41Z&#34;,&#34;@type&#34;:&#34;image/jpeg&#34;,&#34;repo:path&#34;:&#34;/content/dam/core-components-examples/library/sample-assets/lava-rock-formation.jpg&#34;}}}"
          class="cmp-image"
          itemscope
          itemtype="http://schema.org/ImageObject"
        >
          <img
          src=http://localhost:4502/content/experience-fragments/core-components-examples/library/simple-experience-fragment/master/_jcr_content/root/image.coreimg.jpeg/1714685441592/lava-rock-formation.jpeg
          class="cmp-image__image" itemprop="contentUrl"
          data-cmp-hook-image="image" alt="Gray lava rock formation" title="Gray
          lava rock formation"/>

          <meta itemprop="caption" content="Gray lava rock formation" />
        </div>
      </div>
    </div>
  </div>
</div>
