<div
  id="tabs-c324455e43"
  class="cmp-tabs"
  data-cmp-is="tabs"
  data-cmp-data-layer="{&#34;tabs-c324455e43&#34;:{&#34;shownItems&#34;:[&#34;tabs-c324455e43-item-ace94c0467&#34;],&#34;@type&#34;:&#34;core-components-examples/components/tabs&#34;}}"
  data-placeholder-text="false"
>
  <ol role="tablist" class="cmp-tabs__tablist" aria-multiselectable="false">
    <li
      role="tab"
      id="tabs-c324455e43-item-ace94c0467-tab"
      class="cmp-tabs__tab cmp-tabs__tab--active"
      aria-controls="tabs-c324455e43-item-ace94c0467-tabpanel"
      tabindex="0"
      data-cmp-hook-tabs="tab"
    >
      Tab 1
    </li>

    <li
      role="tab"
      id="tabs-c324455e43-item-6afd3ea640-tab"
      class="cmp-tabs__tab"
      aria-controls="tabs-c324455e43-item-6afd3ea640-tabpanel"
      tabindex="-1"
      data-cmp-hook-tabs="tab"
    >
      Tab 2
    </li>

    <li
      role="tab"
      id="tabs-c324455e43-item-0c51149435-tab"
      class="cmp-tabs__tab"
      aria-controls="tabs-c324455e43-item-0c51149435-tabpanel"
      tabindex="-1"
      data-cmp-hook-tabs="tab"
    >
      Tab 3
    </li>
  </ol>
  <div
    id="tabs-c324455e43-item-ace94c0467"
    role="tabpanel"
    aria-labelledby="tabs-c324455e43-item-ace94c0467-tab"
    tabindex="0"
    class="cmp-tabs__tabpanel cmp-tabs__tabpanel--active"
    data-cmp-hook-tabs="tabpanel"
    data-cmp-data-layer="{&#34;tabs-c324455e43-item-ace94c0467&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/tabs/item&#34;,&#34;dc:title&#34;:&#34;Tab 1&#34;}}"
  >
    <div class="responsivegrid">
      <div class="aem-Grid aem-Grid--12 aem-Grid--default--12"></div>
    </div>
  </div>
  <div
    id="tabs-c324455e43-item-6afd3ea640"
    role="tabpanel"
    aria-labelledby="tabs-c324455e43-item-6afd3ea640-tab"
    tabindex="0"
    class="cmp-tabs__tabpanel"
    data-cmp-hook-tabs="tabpanel"
    data-cmp-data-layer="{&#34;tabs-c324455e43-item-6afd3ea640&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/tabs/item&#34;,&#34;dc:title&#34;:&#34;Tab 2&#34;}}"
  >
    <div class="responsivegrid">
      <div class="aem-Grid aem-Grid--12 aem-Grid--default--12"></div>
    </div>
  </div>
  <div
    id="tabs-c324455e43-item-0c51149435"
    role="tabpanel"
    aria-labelledby="tabs-c324455e43-item-0c51149435-tab"
    tabindex="0"
    class="cmp-tabs__tabpanel"
    data-cmp-hook-tabs="tabpanel"
    data-cmp-data-layer="{&#34;tabs-c324455e43-item-0c51149435&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/tabs/item&#34;,&#34;dc:title&#34;:&#34;Tab 3&#34;}}"
  >
    <div class="responsivegrid">
      <div class="aem-Grid aem-Grid--12 aem-Grid--default--12"></div>
    </div>
  </div>
</div>
