<div
  data-cmp-data-layer="{&#34;title-144a64b39c&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/title&#34;,&#34;dc:title&#34;:&#34;Title&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/page-authoring/title.html&#34;}}"
  id="title-144a64b39c"
  class="cmp-title"
>
  <h1 class="cmp-title__text">
    <a
      class="cmp-title__link"
      data-cmp-clickable
      href="/content/core-components-examples/library/page-authoring/title.html"
      title="This is the title attribute"
      aria-label="This is the accessibility label"
      >Title</a
    >
  </h1>
</div>
