<div id="download-527439bd06" class="cmp-download">
  <h3 class="cmp-download__title">
    <a
      class="cmp-download__title-link"
      href="/content/core-components-examples/library/page-authoring/download/_jcr_content/root/responsivegrid/demo_68071479/component/download/file.coredownload.jpeg/lava-into-ocean.jpg"
      >Uploaded Asset</a
    >
  </h3>
  <div class="cmp-download__description">
    <p>Asset uploaded directly from a local file system</p>
  </div>
  <dl class="cmp-download__properties">
    <div class="cmp-download__property cmp-download__property--filename">
      <dt class="cmp-download__property-label">Filename</dt>
      <dd class="cmp-download__property-content">lava-into-ocean.jpg</dd>
    </div>
    <div class="cmp-download__property cmp-download__property--size">
      <dt class="cmp-download__property-label">Size</dt>
      <dd class="cmp-download__property-content">81 KB</dd>
    </div>
    <div class="cmp-download__property cmp-download__property--format">
      <dt class="cmp-download__property-label">Format</dt>
      <dd class="cmp-download__property-content">image/jpeg</dd>
    </div>
  </dl>
  <a
    class="cmp-download__action"
    href="/content/core-components-examples/library/page-authoring/download/_jcr_content/root/responsivegrid/demo_68071479/component/download/file.coredownload.jpeg/lava-into-ocean.jpg"
  >
    <span class="cmp-download__action-text">Download</span>
  </a>
</div>
