<nav
  id="breadcrumb-39f99b6c5d"
  class="cmp-breadcrumb"
  aria-label="Breadcrumb"
  data-cmp-data-layer="{&#34;breadcrumb-39f99b6c5d&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/breadcrumb&#34;}}"
>
  <ol
    class="cmp-breadcrumb__list"
    itemscope
    itemtype="http://schema.org/BreadcrumbList"
  >
    <li
      class="cmp-breadcrumb__item"
      data-cmp-data-layer="{&#34;breadcrumb-39f99b6c5d-item-9bee4d4454&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/breadcrumb/item&#34;,&#34;repo:modifyDate&#34;:&#34;2021-09-17T20:37:43Z&#34;,&#34;dc:title&#34;:&#34;Component Library&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library.html&#34;}}"
      itemprop="itemListElement"
      itemscope
      itemtype="http://schema.org/ListItem"
    >
      <a
        class="cmp-breadcrumb__item-link"
        itemprop="item"
        data-cmp-clickable
        href="/content/core-components-examples/library.html"
      >
        <span itemprop="name">Component Library</span>
      </a>
      <meta itemprop="position" content="1" />
    </li>

    <li
      class="cmp-breadcrumb__item"
      data-cmp-data-layer="{&#34;breadcrumb-39f99b6c5d-item-1d32a567a9&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/breadcrumb/item&#34;,&#34;dc:title&#34;:&#34;Templating&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/templating.html&#34;}}"
      itemprop="itemListElement"
      itemscope
      itemtype="http://schema.org/ListItem"
    >
      <a
        class="cmp-breadcrumb__item-link"
        itemprop="item"
        data-cmp-clickable
        href="/content/core-components-examples/library/templating.html"
      >
        <span itemprop="name">Templating</span>
      </a>
      <meta itemprop="position" content="2" />
    </li>

    <li
      class="cmp-breadcrumb__item"
      data-cmp-data-layer="{&#34;breadcrumb-39f99b6c5d-item-35671d6884&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/breadcrumb/item&#34;,&#34;dc:title&#34;:&#34;Breadcrumb&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/templating/breadcrumb.html&#34;}}"
      itemprop="itemListElement"
      itemscope
      itemtype="http://schema.org/ListItem"
    >
      <a
        class="cmp-breadcrumb__item-link"
        itemprop="item"
        data-cmp-clickable
        href="/content/core-components-examples/library/templating/breadcrumb.html"
      >
        <span itemprop="name">Breadcrumb</span>
      </a>
      <meta itemprop="position" content="3" />
    </li>

    <li
      class="cmp-breadcrumb__item"
      data-cmp-data-layer="{&#34;breadcrumb-39f99b6c5d-item-eae3a9359d&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/breadcrumb/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:37Z&#34;,&#34;dc:title&#34;:&#34;Level 1&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/templating/breadcrumb/hidden/level-1.html&#34;}}"
      itemprop="itemListElement"
      itemscope
      itemtype="http://schema.org/ListItem"
    >
      <a
        class="cmp-breadcrumb__item-link"
        itemprop="item"
        data-cmp-clickable
        href="/content/core-components-examples/library/templating/breadcrumb/hidden/level-1.html"
      >
        <span itemprop="name">Level 1</span>
      </a>
      <meta itemprop="position" content="4" />
    </li>

    <li
      class="cmp-breadcrumb__item"
      data-cmp-data-layer="{&#34;breadcrumb-39f99b6c5d-item-4ece1d42cb&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/breadcrumb/item&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:37Z&#34;,&#34;dc:title&#34;:&#34;Level 2&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/templating/breadcrumb/hidden/level-1/level-2.html&#34;}}"
      itemprop="itemListElement"
      itemscope
      itemtype="http://schema.org/ListItem"
    >
      <a
        class="cmp-breadcrumb__item-link"
        itemprop="item"
        data-cmp-clickable
        href="/content/core-components-examples/library/templating/breadcrumb/hidden/level-1/level-2.html"
      >
        <span itemprop="name">Level 2</span>
      </a>
      <meta itemprop="position" content="5" />
    </li>
  </ol>
</nav>
