<div
  id="progressbar-3b51f979e5"
  class="cmp-progressbar"
  data-cmp-data-layer="{&#34;progressbar-3b51f979e5&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/progressbar&#34;}}"
>
  <span class="cmp-progressbar__label--completed" aria-hidden="true">33.3</span>
  <span class="cmp-progressbar__label--remaining" aria-hidden="true">66.7</span>
  <div
    class="cmp-progressbar__bar"
    role="progressbar"
    aria-label="33.3% completed"
    aria-valuenow="33.3"
    aria-valuemin="0"
    aria-valuemax="100"
    style="width: 33.3%"
  >
    33.3
  </div>
</div>
