<div
  id="progressbar-8b45985e46"
  class="cmp-progressbar"
  data-cmp-data-layer="{&#34;progressbar-8b45985e46&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/progressbar&#34;}}"
>
  <span class="cmp-progressbar__label--completed" aria-hidden="true">0</span>
  <span class="cmp-progressbar__label--remaining" aria-hidden="true">100</span>
  <div
    class="cmp-progressbar__bar"
    role="progressbar"
    aria-label="0.0% completed"
    aria-valuenow="0"
    aria-valuemin="0"
    aria-valuemax="100"
    style="width: 0%"
  >
    0
  </div>
</div>
