<div
  data-cmp-data-layer="{&#34;embed-190977130e&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/embed&#34;}}"
  id="embed-190977130e"
  class="cmp-embed"
>
  <blockquote class="twitter-tweet">
    <p lang="en" dir="ltr">
      New
      <a href="https://twitter.com/hashtag/AEM?src=hash&amp;ref_src=twsrc%5Etfw"
        >#AEM</a
      >
      Project Archetype 20 got released!<br />It features a frontend build
      process based on
      <a href="https://twitter.com/webpack?ref_src=twsrc%5Etfw">@Webpack</a>,
      with
      <a href="https://twitter.com/SassCSS?ref_src=twsrc%5Etfw">@SassCSS</a> and
      <a href="https://twitter.com/typescript?ref_src=twsrc%5Etfw"
        >@TypeScript</a
      >. You can customize it to use any tool: no more ClientLib limitations.<a
        href="https://t.co/ivjNtiZkXi"
        >https://t.co/ivjNtiZkXi</a
      ><a
        href="https://twitter.com/hashtag/CoreCmp?src=hash&amp;ref_src=twsrc%5Etfw"
        >#CoreCmp</a
      >
      <a
        href="https://twitter.com/hashtag/Adobe?src=hash&amp;ref_src=twsrc%5Etfw"
        >#Adobe</a
      >
      <a
        href="https://twitter.com/hashtag/ExperienceManager?src=hash&amp;ref_src=twsrc%5Etfw"
        >#ExperienceManager</a
      >
      <a
        href="https://twitter.com/hashtag/AEM6?src=hash&amp;ref_src=twsrc%5Etfw"
        >#AEM6</a
      >
      <a href="https://twitter.com/hashtag/CSS?src=hash&amp;ref_src=twsrc%5Etfw"
        >#CSS</a
      >
      <a href="https://twitter.com/hashtag/JS?src=hash&amp;ref_src=twsrc%5Etfw"
        >#JS</a
      >
      <a href="https://t.co/Cy3FdRCNvg">pic.twitter.com/Cy3FdRCNvg</a>
    </p>
    &mdash; Gabriel Walt (@GabrielWalt)
    <a
      href="https://twitter.com/GabrielWalt/status/1159514156074196992?ref_src=twsrc%5Etfw"
      >August 8, 2019</a
    >
  </blockquote>
  <script
    async
    src="https://platform.twitter.com/widgets.js"
    charset="utf-8"
  ></script>
</div>
