<div
  id="teaser-83a73ada4e"
  class="cmp-teaser"
  data-cmp-data-layer="{&#34;teaser-83a73ada4e&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/teaser&#34;,&#34;dc:title&#34;:&#34;Teaser Title&#34;,&#34;dc:description&#34;:&#34;&lt;p>Teaser Description&lt;/p>&#34;}}"
>
  <div class="cmp-teaser__content">
    <h2 class="cmp-teaser__title">Teaser Title</h2>

    <div class="cmp-teaser__description"><p>Teaser Description</p></div>

    <div class="cmp-teaser__action-container">
      <a
        class="cmp-teaser__action-link"
        id="teaser-83a73ada4e-cta-ed267738cb"
        data-cmp-data-layer="{&#34;teaser-83a73ada4e-cta-ed267738cb&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/teaser/cta&#34;,&#34;dc:title&#34;:&#34;Call To Action&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/page-authoring/teaser.html&#34;}}"
        data-cmp-clickable
        href="/content/core-components-examples/library/page-authoring/teaser.html"
        >Call To Action</a
      >
    </div>
  </div>

  <div class="cmp-teaser__image">
    <div
      data-cmp-is="image"
      data-cmp-lazythreshold="0"
      data-cmp-src="/content/core-components-examples/library/page-authoring/teaser/_jcr_content/root/responsivegrid/demo_1878698139/component/teaser.coreimg{.width}.jpeg/1714685441858/mountain-range.jpeg"
      data-asset="/content/dam/core-components-examples/library/sample-assets/mountain-range.jpg"
      data-asset-id="c0a39183-23f4-48f0-8db7-bb41ba2b0122"
      data-title="Aerial photo of mountain range"
      id="teaser-83a73ada4e-image"
      data-cmp-data-layer="{&#34;teaser-83a73ada4e-image&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/image&#34;,&#34;dc:title&#34;:&#34;Aerial photo of mountain range&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/page-authoring/teaser.html&#34;,&#34;image&#34;:{&#34;repo:id&#34;:&#34;c0a39183-23f4-48f0-8db7-bb41ba2b0122&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:41Z&#34;,&#34;@type&#34;:&#34;image/jpeg&#34;,&#34;repo:path&#34;:&#34;/content/dam/core-components-examples/library/sample-assets/mountain-range.jpg&#34;}}}"
      class="cmp-image"
      itemscope
      itemtype="http://schema.org/ImageObject"
    >
      <a
        class="cmp-image__link"
        href="/content/core-components-examples/library/page-authoring/teaser.html"
        data-cmp-clickable
        data-cmp-hook-image="link"
      >
        <img
        src=http://localhost:4502/content/core-components-examples/library/page-authoring/teaser/_jcr_content/root/responsivegrid/demo_1878698139/component/teaser.coreimg.jpeg/1714685441858/mountain-range.jpeg
        class="cmp-image__image" itemprop="contentUrl"
        data-cmp-hook-image="image" alt="Aerial photo of mountain range"
        title="Aerial photo of mountain range"/>
      </a>

      <meta itemprop="caption" content="Aerial photo of mountain range" />
    </div>
  </div>
</div>
