<div
  id="teaser-5c7e0ef90d"
  class="cmp-teaser"
  data-cmp-data-layer="{&#34;teaser-5c7e0ef90d&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/teaser&#34;,&#34;dc:title&#34;:&#34;Teaser Title&#34;,&#34;dc:description&#34;:&#34;&lt;p>Teaser Description&lt;/p>&#34;}}"
>
  <div class="cmp-teaser__content">
    <p class="cmp-teaser__pretitle">Pretitle</p>

    <h2 class="cmp-teaser__title">Teaser Title</h2>

    <div class="cmp-teaser__description"><p>Teaser Description</p></div>
  </div>

  <div class="cmp-teaser__image">
    <div
      data-cmp-is="image"
      data-cmp-lazythreshold="0"
      data-cmp-src="/content/core-components-examples/library/page-authoring/teaser/_jcr_content/root/responsivegrid/demo_1160408466/component/teaser.coreimg{.width}.jpeg/1714685439433/lava-into-ocean.jpeg"
      data-asset="/content/dam/core-components-examples/library/sample-assets/lava-into-ocean.jpg"
      data-asset-id="0f54e1b5-535b-45f7-a46b-35abb19dd6bc"
      data-title="Lava flowing into the ocean"
      id="teaser-5c7e0ef90d-image"
      data-cmp-data-layer="{&#34;teaser-5c7e0ef90d-image&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/image&#34;,&#34;dc:title&#34;:&#34;Lava flowing into the ocean&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/page-authoring/teaser.html&#34;,&#34;image&#34;:{&#34;repo:id&#34;:&#34;0f54e1b5-535b-45f7-a46b-35abb19dd6bc&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:39Z&#34;,&#34;@type&#34;:&#34;image/jpeg&#34;,&#34;repo:path&#34;:&#34;/content/dam/core-components-examples/library/sample-assets/lava-into-ocean.jpg&#34;}}}"
      class="cmp-image"
      itemscope
      itemtype="http://schema.org/ImageObject"
    >
      <a
        class="cmp-image__link"
        href="/content/core-components-examples/library/page-authoring/teaser.html"
        data-cmp-clickable
        data-cmp-hook-image="link"
      >
        <img
        src=http://localhost:4502/content/core-components-examples/library/page-authoring/teaser/_jcr_content/root/responsivegrid/demo_1160408466/component/teaser.coreimg.jpeg/1714685439433/lava-into-ocean.jpeg
        class="cmp-image__image" itemprop="contentUrl"
        data-cmp-hook-image="image" alt="Lava flowing into the ocean"
        title="Lava flowing into the ocean"/>
      </a>

      <meta itemprop="caption" content="Lava flowing into the ocean" />
    </div>
  </div>
</div>
