<div
  id="teaser-c0294248db"
  class="cmp-teaser"
  data-cmp-data-layer="{&#34;teaser-c0294248db&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/teaser&#34;,&#34;dc:title&#34;:&#34;Linked Teaser&#34;,&#34;dc:description&#34;:&#34;&lt;p>Teaser Description&lt;/p>&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/page-authoring/teaser.html&#34;}}"
>
  <a
    class="cmp-teaser__link"
    data-cmp-clickable
    href="/content/core-components-examples/library/page-authoring/teaser.html"
  >
    <div class="cmp-teaser__content">
      <h2 class="cmp-teaser__title">Linked Teaser</h2>

      <div class="cmp-teaser__description"><p>Teaser Description</p></div>
    </div>

    <div class="cmp-teaser__image">
      <div
        data-cmp-is="image"
        data-cmp-lazythreshold="0"
        data-cmp-src="/content/core-components-examples/library/page-authoring/teaser/_jcr_content/root/responsivegrid/demo_1789748122/component/teaser.coreimg{.width}.jpeg/1714685441592/lava-rock-formation.jpeg"
        data-asset="/content/dam/core-components-examples/library/sample-assets/lava-rock-formation.jpg"
        data-asset-id="c58c09f6-e382-4698-bfbd-e8c8d37712c8"
        data-title="Gray lava rock formation"
        id="teaser-c0294248db-image"
        data-cmp-data-layer="{&#34;teaser-c0294248db-image&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/image&#34;,&#34;dc:title&#34;:&#34;Gray lava rock formation&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/page-authoring/teaser.html&#34;,&#34;image&#34;:{&#34;repo:id&#34;:&#34;c58c09f6-e382-4698-bfbd-e8c8d37712c8&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:41Z&#34;,&#34;@type&#34;:&#34;image/jpeg&#34;,&#34;repo:path&#34;:&#34;/content/dam/core-components-examples/library/sample-assets/lava-rock-formation.jpg&#34;}}}"
        class="cmp-image"
        itemscope
        itemtype="http://schema.org/ImageObject"
      >
        <a
          class="cmp-image__link"
          href="/content/core-components-examples/library/page-authoring/teaser.html"
          data-cmp-clickable
          data-cmp-hook-image="link"
        >
          <img
          src=http://localhost:4502/content/core-components-examples/library/page-authoring/teaser/_jcr_content/root/responsivegrid/demo_1789748122/component/teaser.coreimg.jpeg/1714685441592/lava-rock-formation.jpeg
          class="cmp-image__image" itemprop="contentUrl"
          data-cmp-hook-image="image" alt="Gray lava rock formation" title="Gray
          lava rock formation"/>
        </a>

        <meta itemprop="caption" content="Gray lava rock formation" />
      </div>
    </div>
  </a>
</div>
