<div
  id="teaser-efcb7219a9"
  class="cmp-teaser"
  data-cmp-data-layer="{&#34;teaser-efcb7219a9&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/teaser&#34;,&#34;dc:title&#34;:&#34;Image&#34;,&#34;dc:description&#34;:&#34;Display an image asset&#34;,&#34;xdm:linkURL&#34;:&#34;/content/core-components-examples/library/page-authoring/image.html&#34;}}"
>
  <a
    class="cmp-teaser__link"
    data-cmp-clickable
    href="/content/core-components-examples/library/page-authoring/image.html"
  >
    <div class="cmp-teaser__content">
      <h2 class="cmp-teaser__title">Image</h2>

      <div class="cmp-teaser__description">Display an image asset</div>
    </div>

    <div class="cmp-teaser__image"></div>
  </a>
</div>
