<form
  method="POST"
  action="/content/core-components-examples/library/form/options.html"
  id="new_form"
  name="new_form"
  enctype="multipart/form-data"
  class="cmp-form aem-Grid aem-Grid--12 aem-Grid--default--12"
>
  <input
    type="hidden"
    name=":formstart"
    value="/content/core-components-examples/library/form/options/jcr:content/root/responsivegrid/demo_1594702855/component/container"
  />
  <input type="hidden" name="_charset_" value="utf-8" />

  <div class="cmp cmp-options aem-GridColumn aem-GridColumn--default--12">
    <fieldset class="form-group checkbox">
      <legend>Venue Planning</legend>
      <p id="form-options-1298895943-helpMessage" class="help-block">
        We like to plan our events and prepare the meals in advance, please help
        us by choosing your preferences
      </p>
      <div class="checkbox-item">
        <label>
          <input
            type="checkbox"
            name="venue-planning"
            value="alone"
            aria-describedby="form-options-1298895943-helpMessage"
          />
          <span>I attend alone</span>
        </label>
      </div>
      <div class="checkbox-item">
        <label>
          <input
            type="checkbox"
            name="venue-planning"
            value="spouse"
            aria-describedby="form-options-1298895943-helpMessage"
          />
          <span>I attend with spouse</span>
        </label>
      </div>
      <div class="checkbox-item">
        <label>
          <input
            type="checkbox"
            name="venue-planning"
            value="meat"
            aria-describedby="form-options-1298895943-helpMessage"
          />
          <span>I eat meat</span>
        </label>
      </div>
      <div class="checkbox-item">
        <label>
          <input
            type="checkbox"
            name="venue-planning"
            value="vet"
            aria-describedby="form-options-1298895943-helpMessage"
          />
          <span>I am vegetarian</span>
        </label>
      </div>
      <div class="checkbox-item">
        <label>
          <input
            type="checkbox"
            name="venue-planning"
            value="spouse-veg"
            aria-describedby="form-options-1298895943-helpMessage"
          />
          <span>Spouse is vegetarian</span>
        </label>
      </div>
      <div class="checkbox-item">
        <label>
          <input
            type="checkbox"
            name="venue-planning"
            value="spouse-meat"
            aria-describedby="form-options-1298895943-helpMessage"
          />
          <span>Spouse eats meat</span>
        </label>
      </div>
    </fieldset>
  </div>
</form>
