<form
  method="POST"
  action="/content/core-components-examples/library/form/options.html"
  id="new_form"
  name="new_form"
  enctype="multipart/form-data"
  class="cmp-form aem-Grid aem-Grid--12 aem-Grid--default--12"
>
  <input
    type="hidden"
    name=":formstart"
    value="/content/core-components-examples/library/form/options/jcr:content/root/responsivegrid/demo_665944747/component/container"
  />
  <input type="hidden" name="_charset_" value="utf-8" />

  <div class="cmp cmp-options aem-GridColumn aem-GridColumn--default--12">
    <div class="form-group drop-down">
      <label for="form-options-2043955932">Nationality</label>

      <select
        name="nationality"
        id="form-options-2043955932"
        class="form-control"
      >
        <option value="ch">Swiss</option>

        <option value="us">American</option>

        <option value="fr">French</option>

        <option value="gb">English</option>

        <option value="ge">German</option>
      </select>
    </div>
  </div>
</form>
