<form
  method="POST"
  action="/content/core-components-examples/library/form/options.html"
  id="new_form"
  name="new_form"
  enctype="multipart/form-data"
  class="cmp-form aem-Grid aem-Grid--12 aem-Grid--default--12"
>
  <input
    type="hidden"
    name=":formstart"
    value="/content/core-components-examples/library/form/options/jcr:content/root/responsivegrid/demo_881795653/component/container"
  />
  <input type="hidden" name="_charset_" value="utf-8" />

  <div class="cmp cmp-options aem-GridColumn aem-GridColumn--default--12">
    <fieldset class="form-group radio">
      <legend>Gender</legend>

      <div class="radio-item">
        <label>
          <input type="radio" name="gender" value="f" checked />
          <span>Female</span>
        </label>
      </div>
      <div class="radio-item">
        <label>
          <input type="radio" name="gender" value="m" />
          <span>Male</span>
        </label>
      </div>
      <div class="radio-item">
        <label>
          <input type="radio" name="gender" value="o" />
          <span>Other</span>
        </label>
      </div>
    </fieldset>
  </div>
</form>
