<div
  id="accordion-d66e5c4a9d"
  class="cmp-accordion"
  data-cmp-is="accordion"
  data-cmp-data-layer="{&#34;accordion-d66e5c4a9d&#34;:{&#34;shownItems&#34;:[],&#34;@type&#34;:&#34;core-components-examples/components/accordion&#34;}}"
  data-placeholder-text="false"
>
  <div
    class="cmp-accordion__item"
    data-cmp-hook-accordion="item"
    data-cmp-data-layer="{&#34;accordion-d66e5c4a9d-item-656f5a46b8&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/accordion/item&#34;,&#34;dc:title&#34;:&#34;Item 1&#34;}}"
    id="accordion-d66e5c4a9d-item-656f5a46b8"
  >
    <h3 class="cmp-accordion__header">
      <button
        id="accordion-d66e5c4a9d-item-656f5a46b8-button"
        class="cmp-accordion__button"
        type="button"
        aria-controls="accordion-d66e5c4a9d-item-656f5a46b8-panel"
        data-cmp-hook-accordion="button"
      >
        <span class="cmp-accordion__title">Item 1</span>
        <span class="cmp-accordion__icon"></span>
      </button>
    </h3>
    <div
      data-cmp-hook-accordion="panel"
      id="accordion-d66e5c4a9d-item-656f5a46b8-panel"
      class="cmp-accordion__panel cmp-accordion__panel--hidden"
      role="region"
      aria-labelledby="accordion-d66e5c4a9d-item-656f5a46b8-button"
    >
      <div class="responsivegrid">
        <div class="aem-Grid aem-Grid--12 aem-Grid--default--12">
          <div
            class="image aem-GridColumn--default--none aem-GridColumn aem-GridColumn--default--6 aem-GridColumn--offset--default--0"
          >
            <div
              data-cmp-is="image"
              data-cmp-lazythreshold="0"
              data-cmp-src="/content/core-components-examples/library/container/accordion/_jcr_content/root/responsivegrid/demo_397543166/component/accordion/item_617130698/image.coreimg{.width}.jpeg/1714685439433/lava-into-ocean.jpeg"
              data-asset="/content/dam/core-components-examples/library/sample-assets/lava-into-ocean.jpg"
              data-asset-id="0f54e1b5-535b-45f7-a46b-35abb19dd6bc"
              data-title="Lava flowing into the ocean"
              id="image-331f876d40"
              data-cmp-data-layer="{&#34;image-331f876d40&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/image&#34;,&#34;dc:title&#34;:&#34;Lava flowing into the ocean&#34;,&#34;image&#34;:{&#34;repo:id&#34;:&#34;0f54e1b5-535b-45f7-a46b-35abb19dd6bc&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:39Z&#34;,&#34;@type&#34;:&#34;image/jpeg&#34;,&#34;repo:path&#34;:&#34;/content/dam/core-components-examples/library/sample-assets/lava-into-ocean.jpg&#34;}}}"
              class="cmp-image"
              itemscope
              itemtype="http://schema.org/ImageObject"
            >
              <img
              src=http://localhost:4502/content/core-components-examples/library/container/accordion/_jcr_content/root/responsivegrid/demo_397543166/component/accordion/item_617130698/image.coreimg.jpeg/1714685439433/lava-into-ocean.jpeg
              class="cmp-image__image" itemprop="contentUrl"
              data-cmp-hook-image="image" alt="Lava flowing into the ocean"
              title="Lava flowing into the ocean"/>

              <meta itemprop="caption" content="Lava flowing into the ocean" />
            </div>
          </div>
          <div
            class="text aem-GridColumn--default--none aem-GridColumn aem-GridColumn--default--6 aem-GridColumn--offset--default--0"
          >
            <div
              data-cmp-data-layer="{&#34;text-ba8010aa72&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/text&#34;,&#34;xdm:text&#34;:&#34;&lt;p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu mi bibendum neque egestas congue quisque egestas. Varius morbi enim nunc faucibus a pellentesque. Scelerisque eleifend donec pretium vulputate sapien nec sagittis.&lt;/p>&#34;}}"
              id="text-ba8010aa72"
              class="cmp-text"
            >
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu
                mi bibendum neque egestas congue quisque egestas. Varius morbi
                enim nunc faucibus a pellentesque. Scelerisque eleifend donec
                pretium vulputate sapien nec sagittis.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="cmp-accordion__item"
    data-cmp-hook-accordion="item"
    data-cmp-data-layer="{&#34;accordion-d66e5c4a9d-item-ed0fbad5d1&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/accordion/item&#34;,&#34;dc:title&#34;:&#34;Item 2&#34;}}"
    id="accordion-d66e5c4a9d-item-ed0fbad5d1"
  >
    <h3 class="cmp-accordion__header">
      <button
        id="accordion-d66e5c4a9d-item-ed0fbad5d1-button"
        class="cmp-accordion__button"
        type="button"
        aria-controls="accordion-d66e5c4a9d-item-ed0fbad5d1-panel"
        data-cmp-hook-accordion="button"
      >
        <span class="cmp-accordion__title">Item 2</span>
        <span class="cmp-accordion__icon"></span>
      </button>
    </h3>
    <div
      data-cmp-hook-accordion="panel"
      id="accordion-d66e5c4a9d-item-ed0fbad5d1-panel"
      class="cmp-accordion__panel cmp-accordion__panel--hidden"
      role="region"
      aria-labelledby="accordion-d66e5c4a9d-item-ed0fbad5d1-button"
    >
      <div class="responsivegrid">
        <div class="aem-Grid aem-Grid--12 aem-Grid--default--12">
          <div
            class="image aem-GridColumn--default--none aem-GridColumn aem-GridColumn--default--6 aem-GridColumn--offset--default--0"
          >
            <div
              data-cmp-is="image"
              data-cmp-lazythreshold="0"
              data-cmp-src="/content/core-components-examples/library/container/accordion/_jcr_content/root/responsivegrid/demo_397543166/component/accordion/item_779036566/image.coreimg{.width}.jpeg/1714685439665/snowy-mountain-glacier.jpeg"
              data-asset="/content/dam/core-components-examples/library/sample-assets/snowy-mountain-glacier.jpg"
              data-asset-id="45c6ee92-90e1-4af2-af69-b6dcbc7daeb7"
              data-title="Snowy mountain glacier"
              id="image-964d56ea04"
              data-cmp-data-layer="{&#34;image-964d56ea04&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/image&#34;,&#34;dc:title&#34;:&#34;Snowy mountain glacier&#34;,&#34;image&#34;:{&#34;repo:id&#34;:&#34;45c6ee92-90e1-4af2-af69-b6dcbc7daeb7&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:39Z&#34;,&#34;@type&#34;:&#34;image/jpeg&#34;,&#34;repo:path&#34;:&#34;/content/dam/core-components-examples/library/sample-assets/snowy-mountain-glacier.jpg&#34;}}}"
              class="cmp-image"
              itemscope
              itemtype="http://schema.org/ImageObject"
            >
              <img
              src=http://localhost:4502/content/core-components-examples/library/container/accordion/_jcr_content/root/responsivegrid/demo_397543166/component/accordion/item_779036566/image.coreimg.jpeg/1714685439665/snowy-mountain-glacier.jpeg
              class="cmp-image__image" itemprop="contentUrl"
              data-cmp-hook-image="image" alt="Snowy mountain glacier"
              title="Snowy mountain glacier"/>

              <meta itemprop="caption" content="Snowy mountain glacier" />
            </div>
          </div>
          <div
            class="text aem-GridColumn--default--none aem-GridColumn aem-GridColumn--default--6 aem-GridColumn--offset--default--0"
          >
            <div
              data-cmp-data-layer="{&#34;text-edc6a11fde&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/text&#34;,&#34;xdm:text&#34;:&#34;&lt;p>Hac habitasse platea dictumst quisque sagittis purus. At risus viverra adipiscing at in tellus integer. Sit amet consectetur adipiscing elit duis tristique sollicitudin. Leo vel orci porta non pulvinar neque laoreet suspendisse. Volutpat diam ut venenatis tellus in metus vulputate eu.&lt;/p>&#34;}}"
              id="text-edc6a11fde"
              class="cmp-text"
            >
              <p>
                Hac habitasse platea dictumst quisque sagittis purus. At risus
                viverra adipiscing at in tellus integer. Sit amet consectetur
                adipiscing elit duis tristique sollicitudin. Leo vel orci porta
                non pulvinar neque laoreet suspendisse. Volutpat diam ut
                venenatis tellus in metus vulputate eu.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="cmp-accordion__item"
    data-cmp-hook-accordion="item"
    data-cmp-data-layer="{&#34;accordion-d66e5c4a9d-item-ef5a6dad73&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/accordion/item&#34;,&#34;dc:title&#34;:&#34;Item 3&#34;}}"
    id="accordion-d66e5c4a9d-item-ef5a6dad73"
  >
    <h3 class="cmp-accordion__header">
      <button
        id="accordion-d66e5c4a9d-item-ef5a6dad73-button"
        class="cmp-accordion__button"
        type="button"
        aria-controls="accordion-d66e5c4a9d-item-ef5a6dad73-panel"
        data-cmp-hook-accordion="button"
      >
        <span class="cmp-accordion__title">Item 3</span>
        <span class="cmp-accordion__icon"></span>
      </button>
    </h3>
    <div
      data-cmp-hook-accordion="panel"
      id="accordion-d66e5c4a9d-item-ef5a6dad73-panel"
      class="cmp-accordion__panel cmp-accordion__panel--hidden"
      role="region"
      aria-labelledby="accordion-d66e5c4a9d-item-ef5a6dad73-button"
    >
      <div class="responsivegrid">
        <div class="aem-Grid aem-Grid--12 aem-Grid--default--12">
          <div
            class="image aem-GridColumn--default--none aem-GridColumn aem-GridColumn--default--6 aem-GridColumn--offset--default--0"
          >
            <div
              data-cmp-is="image"
              data-cmp-lazythreshold="0"
              data-cmp-src="/content/core-components-examples/library/container/accordion/_jcr_content/root/responsivegrid/demo_397543166/component/accordion/item_770673778/image.coreimg{.width}.jpeg/1714685441858/mountain-range.jpeg"
              data-asset="/content/dam/core-components-examples/library/sample-assets/mountain-range.jpg"
              data-asset-id="c0a39183-23f4-48f0-8db7-bb41ba2b0122"
              data-title="Aerial photo of mountain range"
              id="image-e0188e8407"
              data-cmp-data-layer="{&#34;image-e0188e8407&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/image&#34;,&#34;dc:title&#34;:&#34;Aerial photo of mountain range&#34;,&#34;image&#34;:{&#34;repo:id&#34;:&#34;c0a39183-23f4-48f0-8db7-bb41ba2b0122&#34;,&#34;repo:modifyDate&#34;:&#34;2024-05-02T21:30:41Z&#34;,&#34;@type&#34;:&#34;image/jpeg&#34;,&#34;repo:path&#34;:&#34;/content/dam/core-components-examples/library/sample-assets/mountain-range.jpg&#34;}}}"
              class="cmp-image"
              itemscope
              itemtype="http://schema.org/ImageObject"
            >
              <img
              src=http://localhost:4502/content/core-components-examples/library/container/accordion/_jcr_content/root/responsivegrid/demo_397543166/component/accordion/item_770673778/image.coreimg.jpeg/1714685441858/mountain-range.jpeg
              class="cmp-image__image" itemprop="contentUrl"
              data-cmp-hook-image="image" alt="Aerial photo of mountain range"
              title="Aerial photo of mountain range"/>

              <meta
                itemprop="caption"
                content="Aerial photo of mountain range"
              />
            </div>
          </div>
          <div
            class="text aem-GridColumn--default--none aem-GridColumn aem-GridColumn--default--6 aem-GridColumn--offset--default--0"
          >
            <div
              data-cmp-data-layer="{&#34;text-1950134246&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/text&#34;,&#34;xdm:text&#34;:&#34;&lt;p>Libero id faucibus nisl tincidunt eget nullam non nisi. Hac habitasse platea dictumst vestibulum. Viverra orci sagittis eu volutpat odio facilisis mauris. Velit aliquet sagittis id consectetur purus ut. Orci phasellus egestas tellus rutrum tellus pellentesque eu tincidunt.&lt;/p>&#34;}}"
              id="text-1950134246"
              class="cmp-text"
            >
              <p>
                Libero id faucibus nisl tincidunt eget nullam non nisi. Hac
                habitasse platea dictumst vestibulum. Viverra orci sagittis eu
                volutpat odio facilisis mauris. Velit aliquet sagittis id
                consectetur purus ut. Orci phasellus egestas tellus rutrum
                tellus pellentesque eu tincidunt.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
